<div class="mainform">
  <app-tuto label="Retrouvez ici l'ensemble des transactions effectuées"></app-tuto>
  <app-hourglass [message]="message"></app-hourglass><br>
  <span *ngIf="transactions?.length==0 && message.length==0">Aucune transaction effectuée</span>
  <table mat-table [dataSource]="transactions"
         *ngIf="transactions.length>0"
         class="mat-elevation-z8 app-table">

    <ng-container matColumnDef="transac"  style="margin:1px;">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell style="cursor:pointer;text-align: left;" *matCellDef="let element">
        <mat-icon (click)="open_transaction(element)" style="cursor: pointer">visibility</mat-icon>&nbsp;
      </td>
    </ng-container>

    <ng-container matColumnDef="data"  style="margin:3px;font-size: small">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell style="cursor:pointer;text-align: left;" *matCellDef="let element" (click)="open_transaction(element)">
        <small>{{element.data}}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="value"  style="margin:3px">
      <th mat-header-cell *matHeaderCellDef>Montant (xEgld)</th>
      <td mat-cell *matCellDef="let element"> {{element.value | number:'1.0-5'}}</td>
    </ng-container>

  <ng-container matColumnDef="gas"  style="margin:3px">
      <th mat-header-cell title="Frais de transactions (lié à l'usage du réseau Elrond)" *matHeaderCellDef>Transaction (xEgld)</th>
      <td mat-cell *matCellDef="let element">
        {{element.fee | number:'1.0-5'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <br><br>
  <app-elrond-addr [addr]="config.server.nft_contract" type="address" label="Voir toutes les transactions">

  </app-elrond-addr>

</div>
