<div class="mainform">
  <app-tuto label="L'ensemble de vos transactions facturées avec les couts de transactions et les couts annexes"></app-tuto>
  <app-hourglass [message]="message"></app-hourglass><br>
  <span *ngIf="transactions?.length==0 && message.length==0">Aucune transaction effectuée</span>
  <table mat-table [dataSource]="transactions"
         *ngIf="transactions.length>0"
         class="mat-elevation-z8 app-table">

    <ng-container matColumnDef="transac"  style="margin:1px;">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell style="cursor:pointer;text-align: left;" *matCellDef="let element">
        <mat-icon (click)="open_transaction(element)" style="cursor: pointer">visibility</mat-icon>&nbsp;
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell style="padding:6px;" *matHeaderCellDef>Description</th>
      <td mat-cell style="cursor:pointer;text-align: left;" *matCellDef="let element" (click)="open_transaction(element)">
        <small>{{element.data}}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="value" >
      <th mat-header-cell style="padding:6px;" *matHeaderCellDef>Montant (xEgld)</th>
      <td mat-cell *matCellDef="let element">
        <app-unity [value]="element.value" [decimal]="5"></app-unity>
      </td>
    </ng-container>

    <ng-container matColumnDef="gas">
      <th mat-header-cell style="padding:6px" title="Frais de transactions (lié à l'usage du réseau Elrond)" *matHeaderCellDef>Transaction (xEgld)</th>
      <td mat-cell *matCellDef="let element">
        <app-unity [value]="element.fee" decimals="5"></app-unity>
      </td>
    </ng-container>

    <ng-container matColumnDef="comment"  style="margin:3px;width:50px;">
      <th mat-header-cell style="padding:6px" title="Commentaire" *matHeaderCellDef>Commentaire</th>
      <td mat-cell *matCellDef="let element">
        {{element.comment}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <br><br>
  <app-elrond-addr [addr]="config.server.nft_contract" type="address" label="Voir toutes les transactions"></app-elrond-addr>
  &nbsp;
  <app-elrond-addr [addr]="user.addr" type="address" label="Voir le compte"></app-elrond-addr>

</div>
