<div class="mainform">
  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message.length==0">
    <h3>Classement des vendeurs</h3>
    <table style="display: inline-block;font-size: x-large;">
      <tr *ngFor="let profil of profils" style="width:60%;max-width: 600px;">
        <td style="font-size: large;">
          {{profil.profil.order}}
        </td>
        <td>
          <img [src]="profil.profil.visual" style="width: 60px">
        </td>
        <td style="padding: 10px;font-weight: lighter;">
          <app-elrond-addr [addr]="profil.profil.addr" type="address" [label]="profil.profil.pseudo"></app-elrond-addr>
        </td>
        <td>
          <app-unity [value]="profil.value" unity="eGld" [decimals]="2"></app-unity>
        </td>

        <td style="padding: 10px;">
          <button mat-raised-button mat-button mat-icon-button
                  class="icon-button" (click)="open_creator(profil.profil)">
            <mat-icon>person_search</mat-icon>
          </button>
        </td>

      </tr>
    </table>

  </div>

</div>
