<mat-dialog-content style="padding: 8px !important;">
  <h3>{{data.title}}</h3>
  <div style="height: 300px;overflow: scroll;width:94%;margin-left: 3%;">
    <mat-selection-list [multiple]="false"
                        [(ngModel)]="sel_dealers" (click)="return_dealers()">
      <mat-list-option *ngFor="let dealer of dealers" [value]="dealer">
          <img matListAvatar *ngIf="dealer.shop_visual?.length>0" [src]="dealer.shop_visual" style="width:50px;">
          <div mat-line style="color:white;">{{dealer.shop_name}}</div>
          <div mat-line style="font-size: small;color:lightgrey">{{dealer.shop_description}}</div>
      </mat-list-option>
    </mat-selection-list>
  </div>


<!--    <table style="width: 100%;vertical-align: top;" *ngIf="dealer.address!='0x0'">-->
<!--   -->
<!--          <mat-slide-toggle-->
<!--            *ngIf="!data.direct_sel"-->
<!--            (change)="eval_selected_dealer($event)"-->
<!--            [(ngModel)]="dealer.selected">-->
<!--          </mat-slide-toggle>-->

<!--          <button class="icon-button"-->
<!--                  *ngIf="data.direct_sel"-->
<!--                  mat-button mat-icon-button-->
<!--                  [mat-dialog-close]="dealer">-->
<!--            <mat-icon>chevron_right</mat-icon>-->
<!--          </button>-->

<!--  -->

  <div *ngIf="dealers?.length==0">
    {{data.no_dealer_message}}
  </div>

</mat-dialog-content>


<mat-dialog-actions style="text-align: right !important;">
  <button id="cmdNo" class="app-button" mat-button mat-raised-button [mat-dialog-close]="{}">Annuler</button>
  <button *ngIf="sel_dealers?.length>0 && !data.direct_sel" id="cmdYes" class="app-button" mat-button mat-raised-button (click)="return_dealers()">Ajouter</button>
</mat-dialog-actions>

