<div mat-dialog-title>{{data.title}}</div><br>
<div class="mat-dialog-subtitle">{{data.subtitle}}</div>
<mat-dialog-content style="overflow: hidden;">


  <div style="display: inline-block;vertical-align: text-top;height:fit-content;text-align:center; width:100%;">

    <div>
      <button mat-flat-button mat-button
              *ngIf="data.internet"
              class="app-button"
              (click)="addUrl()">
        Internet
      </button>
    </div>

    <div style="display: inline-flex;">
      <div class="fake-button">
        <label for="file">&nbsp;
          Importer<br>vos photos
        </label>
        <input type="file" id="file" style="opacity: 0;"
               (change)="onSelectFile($event)"
               accept="image/*" />
      </div>
    </div>


    <div style="display: inline-block;">
      <br>
      <mat-form-field appearance="fill" class="app-field" style="width:50%;max-width: 250px;font-size: small;margin:0px;">
        <mat-label>Rechercher des images / photos</mat-label>
        <input matInput [placeholder]="inputSearch" type="text"  [(ngModel)]="query" (keypress)="search($event)" autofocus>
      </mat-form-field>
      &nbsp;
      <!--      Gestion du type d'image recherché-->
      <mat-form-field appearance="fill" style="width:100px;color:white;margin-right: 10px;">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="selected_type" style="color: white;" (ngModelChange)="search({keyCode:13})">
          <mat-option *ngFor="let t of types" [value]="t.value">{{t.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>



  </div>



  <div style="display: inline-block;flex-wrap: wrap;max-height:300px;overflow: scroll;" *ngIf="pictures.length>0">
    <img *ngFor="let picture of pictures"
         (click)="selImage(picture)"
         style="display: inline-block;max-width:75px;max-height:100px;margin:2px;"
         [src]="picture.preview">
  </div>

  <!--  <mat-grid-list *ngIf="pictures?.length>0 && imageBase64==null" style="width:100%;" cols="3" rowHeight="16:9">-->
  <!--    <mat-grid-tile *ngFor="let tile of pictures">-->
  <!--      <img [src]="tile" style="width:25vmin;height:25vmin;" (click)="selPicture(tile)">-->
  <!--    </mat-grid-tile>-->
  <!--  </mat-grid-list>-->

  <div *ngIf="showIcons" style="width:100%;">
    <img *ngFor="let icon of icons"
         [src]="icon.photo"
         style="width:30px;display: inline-block;"
         (click)="selIcon(icon)">
  </div>
  <div style="width: 100%;text-align: center;">
    <div *ngIf="imageBase64"
         style="display: inline-block;width:80%;max-width: 500px;">
      <image-cropper
        [imageBase64]="imageBase64"
        [maintainAspectRatio]="true"
        [aspectRatio]="ratio"
        [resizeToWidth]="200"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      >
      </image-cropper>
    </div>
  </div>

</mat-dialog-content>
<br>
<hr>
<mat-dialog-actions style="text-align: right !important;width:100%;">

  <button id="cmdTurn" mat-button mat-raised-button mat-icon-button
          class="icon-button"
          title="Permet de faire tourner la photo de 90 degrés"
          *ngIf="data.square && data.result.startsWith('data')"
          (click)="rotatePhoto()">
    <mat-icon>refresh</mat-icon>
  </button>

  <button id="cmdCancel" class="icon-button"
          title="Annuler"
          mat-button mat-icon-button mat-raised-button (click)="onNoClick()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button id="cmdValide" class="app-button" mat-button mat-raised-button
          *ngIf="pictures?.length==0"
          [mat-dialog-close]="{img:data.result,original:original,file:originalFile}">
    Ok
  </button>
</mat-dialog-actions>



