<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content style="overflow: hidden;">

  <div style="width: 100%;text-align: center;margin-bottom: 5px;">
    <button mat-flat-button mat-button
            *ngIf="data.internet"
            (click)="addUrl()">
      Internet
    </button>


    <button mat-flat-button mat-button
            id="cmdFile" class="app-button"
            style="width:65px;padding:2px;">
      <label for="file">&nbsp;<mat-icon style="margin-top: 3px;">camera</mat-icon>&nbsp;Photos</label>
      <input type="file" id="file" style="opacity: 0;"
             (change)="onSelectFile($event)"
             accept="image/gif,image/jpeg,image/png" />
    </button>

  </div>


  <mat-grid-list *ngIf="pictures?.length>0 && imageBase64==null" style="width:100%;" cols="3" rowHeight="16:9">
    <mat-grid-tile *ngFor="let tile of pictures">
      <img [src]="tile" style="width:25vmin;height:25vmin;" (click)="selPicture(tile)">
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="showIcons" style="width:100%;">
    <img *ngFor="let icon of icons"
         [src]="icon.photo"
         style="width:30px;display: inline-block;"
         (click)="selIcon(icon)">
  </div>
  <div style="width: 100%;text-align: center;">
    <div *ngIf="imageBase64"
         style="display: inline-block;width:80%;max-width: 300px;">
      <image-cropper
        [imageBase64]="imageBase64"
        [maintainAspectRatio]="true"
        [aspectRatio]="ratio"
        [resizeToWidth]="200"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      >
      </image-cropper>
    </div>
  </div>

</mat-dialog-content>
<hr>
<mat-dialog-actions style="text-align: center;width:100%;">

  <button id="cmdTurn" mat-button mat-raised-button mat-icon-button
          class="icon-button"
          title="Permet de faire tourner la photo de 90 degrés"
          *ngIf="data.square && data.result.startsWith('data')"
          (click)="rotatePhoto()">
    <mat-icon>refresh</mat-icon>
  </button>

  <button id="cmdCancel" class="app-button" mat-button mat-raised-button (click)="onNoClick()">Annuler</button>
  <button id="cmdValide" class="app-button" mat-button mat-raised-button
          [mat-dialog-close]="{img:data.result,original:original,file:originalFile}">
    Ok
  </button>
</mat-dialog-actions>



