<app-tuto title="<br><br><br><br><br><strong>Les NFTs</strong>"
          color="white"
          image=""
          subtitle="Retrouvez tous les NFTs en vente ainsi que les votres (ceux que vous possédez et ceux que vous avez fabriqués)"
          background="./assets/img/items.jpg"></app-tuto>

<div class="mainform">

  <!--  <mat-button-toggle-group #group="market_place">-->
  <!--    <mat-button-toggle *ngFor="let seller of sellers" [(ngModel)]="modelName" [checked]="modelName"></mat-button-toggle>-->
  <!--  </mat-button-toggle-group>-->




  <table id="seller_zone" style="margin: 5px;"><tr style="width: 100%;">

    <td style="width: 110px;margin:0;padding:0;text-align: left;" *ngIf="selected_dealer?.visual?.length>0">
      <img [src]="selected_dealer?.visual" style="width:80px;">
    </td>

    <td style="padding:0px;text-align: left;line-height: 90%;">
      <mat-form-field appearance="fill"
                      style="width:100%;">
        <mat-label>Revendeur</mat-label>
        <mat-select id="selOrder" [(ngModel)]="selected_dealer" (selectionChange)="refresh()" style="margin: 0px;">
          <mat-option *ngFor="let dealer of dealers" [value]="dealer">
            {{dealer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      {{selected_dealer?.description}}
    </td>
  </tr></table>


  <div *ngIf="nfts?.length>2">
    <mat-form-field appearance="fill"
                    style="max-width:150px;margin-right: 10px;" autofocus>
      <mat-label>Chercher un token</mat-label>
      <input matInput matNativeControl
             (keyup)="onQuery($event)"
             placeholder="Un ou plusieurs mots du titre" [(ngModel)]="filter">
      <mat-icon *ngIf="filter?.length>0"
                matSuffix style="cursor: pointer"
                (click)="clearQuery()">cancel</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width:100px;color:white;">
      <mat-label>Affichage</mat-label>
      <mat-select [(value)]="selected_mode" style="color: white;">
        <mat-option *ngFor="let option of options" [value]="option.style">{{option.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <br>

  <app-tuto [if]="nfts?.length>0"
            label="Ici, vous pouvez acheter des NFTs vendu directement par les propriétaires. Si vous ne disposez pas de fonds suffisants, il est possible de recharger votre compte"></app-tuto>




  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="nfts.length==0 && message.length==0">
    Aucun token disponible pour l'instant
    &nbsp;<mat-icon style="font-size: small;" (click)="refresh()">refresh</mat-icon>
    <br><br>
  </div>

  <app-nfts [nfts]="nfts"
            *ngIf="message?.length==0"
            [user]="user" [filter]="filter"
            [height]="selected_mode.height"
            [width]="selected_mode.width"
            [fontsize]="selected_mode.fontsize"
            [with_icon]="selected_mode.with_icon"
            (refresh)="refresh(true)"
            (buy)="on_buy($event)">
  </app-nfts>

  <br><br>
  <button mat-raised-button
          mat-button class="app-button"
          (click)="router.navigate(['importer'])">
    Fabriquer vos NFTs
  </button>
  <br><br><br>

</div>
