<app-tuto title="<br><br><br><br><br><strong>Les NFTs</strong>"
          color="white"
          image=""
          subtitle="Retrouvez tous les NFTs en vente ainsi que les votres (ceux que vous possédez et ceux que vous avez fabriqués)"
          background="./assets/img/items.jpg">
</app-tuto>

<div class="mainform">

  <!--  <mat-button-toggle-group #group="market_place">-->
  <!--    <mat-button-toggle *ngFor="let seller of sellers" [(ngModel)]="modelName" [checked]="modelName"></mat-button-toggle>-->
  <!--  </mat-button-toggle-group>-->

  <table id="seller_zone" style="margin-left: 1%;width:98%;vertical-align: text-top;"><tr>
    <td style="width: fit-content;padding:5px;text-align: left;" *ngIf="selected_dealer?.shop_visual?.length>0">
      <img [src]="selected_dealer?.shop_visual" style="width:60px;">
    </td>

    <td style="padding:0px;text-align: left;min-width:200px;">

      <mat-select id="selOrder" [(ngModel)]="selected_dealer" (selectionChange)="refresh()"
                  style="font-size: large;font-weight: lighter;margin: 0px;width: 200px;">
        <mat-option *ngFor="let dealer of dealers" [value]="dealer">
          {{dealer.shop_name}}
        </mat-option>
      </mat-select>

      <br>
      <small>{{selected_dealer?.description}}</small>
    </td>

    <td style="text-align: left;">
      <mat-slide-toggle *ngIf="nfts?.length>0" [(ngModel)]="art">Premium</mat-slide-toggle>
    </td>
    <td style="text-align: right;">

      <button mat-raised-button
              mat-button class="app-button"
              title="Demander votre référencement à ce distributeur"
              *ngIf="selected_dealer?.email?.length>0"
              (click)="ask_reference(selected_dealer)">
        <div class="bloc-bouton">Demander un<br>référencement</div>
      </button>

    </td>

    <td style="text-align: right;">
      <button mat-raised-button mat-icon-button
              mat-button class="icon-button"
              title="Changement de distributeur"
              *ngIf="dealers?.length>1"
              (click)="change_dealer()">
        <mat-icon>login</mat-icon>
      </button>
    </td>

  </tr></table>


  <div *ngIf="nfts?.length>2">
    <mat-form-field appearance="fill"
                    style="max-width:150px;margin-right: 10px;" cdkFocusInitial>
      <mat-label>Chercher un token</mat-label>
      <input matInput matNativeControl
             (keyup)="onQuery($event)"
             placeholder="Un ou plusieurs mots du titre ou des #htag" [(ngModel)]="filter">
      <mat-icon *ngIf="filter?.length>0"
                matSuffix style="cursor: pointer"
                (click)="clearQuery()">cancel</mat-icon>
    </mat-form-field>


    <mat-form-field appearance="fill" style="width:100px;color:white;margin-right: 10px;">
      <mat-label>Tags</mat-label>
      <mat-select [(value)]="selected_tag" style="color: white;">
        <mat-option *ngFor="let tag of tags" [value]="tag">#{{tag}}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" style="width:100px;color:white;">
      <mat-label>Affichage</mat-label>
      <mat-select [(value)]="selected_mode" style="color: white;">
        <mat-option *ngFor="let option of options" [value]="option.style">{{option.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>
  <app-tuto [if]="nfts?.length>0"
            label="Ici, vous pouvez acheter des NFTs vendu directement par les propriétaires. Si vous ne disposez pas de fonds suffisants, il est possible de recharger votre compte"></app-tuto>

  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="nfts?.length==0 && message.length==0">
    Aucun token disponible pour l'instant
    &nbsp;<mat-icon style="font-size: small;" (click)="refresh()">refresh</mat-icon>
    <br><br>
  </div>

  <app-nfts [nfts]="nfts"
            [art]="art"
            *ngIf="message?.length==0"
            [user]="user"
            [filter]="filter+selected_tag"
            [seller]="selected_dealer.address"
            [height]="selected_mode.height"
            [width]="selected_mode.width"
            [fontsize]="selected_mode.fontsize"
            [with_icon]="selected_mode.with_icon"
            (buy)="on_buy($event)"
            (refresh)="refresh(true)">
  </app-nfts>

  <br><br>
  <button mat-raised-button
          id="cmdMakeNFT"
          mat-button class="app-button"
          (click)="router.navigate(['importer'])">
    Fabriquer vos NFTs
  </button>
  <br><br><br>

</div>
