<div class="mainform">

  <app-tuto label="Consulter l'ensemble des NFTs que vous avez achetés ou fabriqués"></app-tuto>

  <mat-tab-group animationDuration="1000ms" mat-align-tabs="center"
                 [selectedIndex]="selected.value">

    <mat-tab label="Les NFTs distribués" *ngIf="nfts[0]?.length>0">
      <app-tuto label="Retrouvez ici tout les NFTs pour lesquels vous disposez d'un mandat de vente"></app-tuto>
      <app-nfts [user]="user" [nfts]="nfts[0]"
                [filter]="{state:0,isDealer:true}"
                [with_icon]="false"
                height="fit-content"
                (refresh)="refresh()">
      </app-nfts>
      <button mat-raised-button mat-button class="app-button"
              title="Affiche une version minimale de votre boutique de vente de vos billets"
              (click)="open_store()">
        Voir mon store
      </button>
    </mat-tab>


    <mat-tab label="Vos NFTs achetés"  style="height: 100vh;width:90%;overflow: hidden">
      <br>
      <app-tuto [if]="nfts[1].length>0" label="Les NFT achetés peuvent être remis en vente, détruit, ouvert s'ils contiennent un secret ou directement offer"></app-tuto>
      <app-nfts [user]="user" [nfts]="nfts[1]"
                [with_icon]="true" height="fit-content"
                (transfer)="transfer($event)">
      </app-nfts>
      <br>
      <button mat-raised-button mat-button
              class="app-button"
              (click)="router.navigate(['store'])">
        Acheter un NFT
      </button>
      <br><br>
    </mat-tab>


    <mat-tab label="Vos NFTs fabriqués">
      <app-tuto label="L'ensemble des NFTs que vous avez fabriqués sont listés ici. Vous pouvez ajouter des distributeurs, les retirer de la vente, en faire la promotion"></app-tuto>
      <br>
      <mat-form-field appearance="fill" style="width:200px;color:white;" *ngIf="nfts[2]?.length>4">
        <mat-label>Filtrer</mat-label>
        <mat-select [(value)]="filter">
          <mat-option *ngFor="let f of filters" [value]="f.filter">{{f.label}}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-nfts [user]="user" [nfts]="nfts[2]"
                [with_icon]="false" height="fit-content"
                (transfer)="transfer($event)"></app-nfts>

      <br>

      <button mat-raised-button mat-button class="app-button" color="primary"
              (click)="router.navigate(['importer'])">
        Fabriquer un NFT
      </button>
    </mat-tab>

  </mat-tab-group>


</div>
