<div class="app-prompt" style="text-align: center;color:white;">

  <h2 *ngIf="frm_dialog">{{data.title}}</h2>

  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message?.length==0">

    <div *ngIf="!user.pem" style="margin: 35px">

      <input #csvInput hidden="true"
             type="file" onclick="this.value=null"
             (change)="import($event)"
             accept=".pem"/>

      <button mat-raised-button
              mat-button class="app-button"
              title="Charger le fichier PEM de votre clé privée"
              (click)="csvInput.click()">
        Fichier de clé
      </button>


      <p style="font-size: x-small;line-height:90%;font-weight: lighter;margin: 20px;">Votre fichier de signature vous a été envoyé sur votre mail à votre première connexion</p>

    </div>

  </div>

  <div *ngIf="frm_dialog">
  <br>

  <hr>

   <button mat-raised-button

           mat-button class="app-button"
           (click)="dialogRef.close()">
        Annuler
   </button>

  </div>

</div>
