<div class="app-prompt" style="text-align: center;color:white;">

  <h2>{{data.title}}</h2>
  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message?.length==0">


    <div *ngIf="!user.pem">

      <input #csvInput hidden="true"
             type="file" onclick="this.value=null"
             (change)="import($event)"
             accept=".pem"/>

      <button mat-raised-button
              mat-button class="app-button"
              title="Charger le fichier PEM de votre clé privée"
              (click)="csvInput.click()">
        Votre signature
      </button>

    </div>

  </div>

  <br>
  <hr>

   <button mat-raised-button
              mat-button class="app-button"
              (click)="dialogRef.close()">
        Annuler
      </button>

</div>
