<div class="app-prompt" style="text-align: center;color:white;">

  <h3 *ngIf="frm_dialog">{{data.title}}</h3>

  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message?.length==0" style="margin: 0px;height: fit-content;overflow: hidden;">

    <div *ngIf="!user.pem">

      <mat-button-toggle-group [(ngModel)]="private_method" appearance="legacy" >
        <mat-button-toggle value="file"><div class="bloc-bouton">Fichier de<br>signature</div></mat-button-toggle>
<!--        <mat-button-toggle value="input"><div class="bloc-bouton">Clé<br>privée</div></mat-button-toggle>-->
        <mat-button-toggle value="walletconnect"><div class="bloc-bouton">Wallet<br>Connect</div></mat-button-toggle>
      </mat-button-toggle-group>

      <br><br>
      <div *ngIf="private_method=='file'" class="method_zone">
        <input #csvInput hidden="true"
               type="file" onclick="this.value=null"
               (change)="import($event)"
               accept=".pem"/>

        <button mat-raised-button
                mat-button class="app-button"
                title="Charger le fichier de signature de votre compte"
                (click)="csvInput.click()">
          <div class="bloc-bouton">Importer la<br>signature</div>
        </button>
        <p style="font-size: x-small;line-height:90%;font-weight: lighter;margin: 10px;">Votre fichier de signature vous a été envoyé sur votre mail à votre première connexion</p>

        <br>
        <button mat-raised-button
                mat-button class="app-button"
                (click)="resend()">
          <div class="bloc-bouton">Me renvoyer<br>la signature</div>
        </button>
        <div style="font-size: x-small" *ngIf="user?.email?.length>0">sur {{user.email}}</div>


      </div>


      <div *ngIf="private_method=='input'" class="method_zone">
        <mat-form-field appearance="fill" class="app-field">
          <mat-label>Coller votre clé privée</mat-label>
          <input matInput type="text" maxlength="200" [(ngModel)]="private_key" [ngModelOptions]="{standalone: true}" (change)="keyOnChange()">
        </mat-form-field>

        <small>La connection est immédiate dés que la clé est conforme</small>
      </div>

      <div *ngIf="private_method=='walletconnect'" class="method_zone">
        <img src="https://gblobscdn.gitbook.com/spaces%2F-LJJeCjcLrr53DcT1Ml7%2Favatar.png?alt=media" style="width:60px">

        <qrcode
          [width]="150"
          style="display: inline-block;"
          [elementType]="'svg'"
          [errorCorrectionLevel]="'M'"
          [qrdata]="walletconnect?.connector?.uri">
        </qrcode><br>

      </div>

    </div>

    <mat-slide-toggle [(ngModel)]="savePrivateKey">Conserver ma clé sur cet appareil</mat-slide-toggle>

  </div>

  <div *ngIf="frm_dialog" style="display: inline-block">
    <br>
    <hr>


    <button mat-raised-button
            mat-button class="app-button"
            (click)="logout()">
      Se deconnecter
    </button>

    <button mat-raised-button
            mat-button class="app-button"
            (click)="dialogRef.close()">
      Annuler
    </button>

  </div>

</div>
