<app-tuto title="<br><br><br><br><br><strong>Les NFTs</strong>"
          color="white"
          image=""
          subtitle="Fabriquer vos propres NFTs a partir d'un fichier, fixez un prix et vendez-les !"
          background="./assets/img/build.jpg"></app-tuto>


<div class="mainform">
  <div *ngFor="let tk of tokens" >
    <app-tuto
      [title]="tk.tuto_title"
      [force]="true"
      [fullscreen]="false"
      text-align="left"
      type="title"
      image=""
      [duration]="1000"
      main_button="Démarrer"
      background-color="black"
      [subtitle]="tk.tuto"
      (close)="open_wizard(tk)"
      *ngIf="tk==selected_token">
    </app-tuto>
  </div>

  <app-hourglass [duration]="user.transaction_delay"
                 [message]="message"
                 anim="./assets/gears.gif">
  </app-hourglass>

  <!--  progression de l'upload-->
  <mat-progress-bar class="progress-bar"
                    style="width: 60%;margin-left: 20%;"
                    mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">
  </mat-progress-bar>

  <br>
  <h3>Créer vos NFTs en quelques clics en fonction de vos besoins</h3>
  <br>

  <mat-tab-group animationDuration="1000ms"
                 *ngIf="message?.length==0"
                 [selectedIndex]="selected_tab"
                 (selectedIndexChange)="update_tab($event)"
                 mat-align-tabs="center">

    <mat-tab label="NFT express">
      <mat-form-field *ngIf="!show_zone_upload" appearance="fill"
                      style="max-width:100px;margin-top: 10px;">
        <mat-label>Monnaie</mat-label>
        <mat-select [(ngModel)]="selected_money" name="money" (ngModelChange)="update_user_solde()">
          <mat-option *ngFor="let money of moneys" [value]="money">
            {{money?.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="show_zone_upload">
        <br>
        <app-upload-file
          [send_file]="true"
          style="margin: 10px"
          [maxsize]="config.values.max_file_size"
          [extensions]="extensions"
          (canceled)="show_zone_upload=false"
          (uploaded)="onupload($event)">
          {{prompt}}
        </app-upload-file>

      </div>

      <div *ngIf="!show_zone_upload" style="width: 100%;text-align: center;padding:0;margin:0;">

        <br>

        <div *ngFor="let token of tokens"
             style="display: inline-block;text-align: center;">

          <button mat-raised-button
                  *ngIf="token.production || !config.isProd()"
                  mat-button class="square-button"
                  [title]="token.description"
                  (click)="create_token(token)">
            <mat-icon>{{token.icon}}</mat-icon><br>
            <div class="bloc-bouton" [innerHTML]="token.title"></div>
          </button>
          <br>

        </div>


      </div>


    </mat-tab>

    <mat-tab label="NFT avancé">
      <br>
      <app-tuto [if]="picture.length>0"
                label="Le fichier est stocké dans le réseau IPFS de façon totalement sécurisé. Seul la clé permettant de le reconstituer est embarqué dans le NFT"></app-tuto>

      <div *ngIf="message.length==0" style="width:100%;">

        <app-tuto [if]="focus_idx==1 || focus_idx==2"
                  label="Vous pouvez utiliser certaines abrévations dans le secret comme par exemple @token@ pour rappeler la référence du token ou @owner@ pour avoir l'adresse du propriétaire"></app-tuto>

        <app-tuto label="Le mode avancé vous permet de créer des NFTs 'sur mesure' en combinant toutes les possibilités de TokenForge"></app-tuto>


        <mat-vertical-stepper (selectionChange)="update_idx($event)" [linear]="false" style="width:90%;display: inline-block;max-width:700px;text-align: left;background: none;">
          <mat-step >
            <app-tuto *ngIf="idx_tab==1" label="Après fabrication, les NFTs sont présentés sur une place de marché ou ils peuvent être achetés par les autres utilisateurs de TOKENFORGE"></app-tuto>

            <ng-template matStepLabel>Présentation sur la place de marché</ng-template>

            <mat-form-field appearance="fill" class="app-field">
              <mat-label>Collection / Série du NFT</mat-label>
              <input matInput type="text" maxlength="200"
                     id="txtCollection"
                     [(ngModel)]="collection" [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=2">
              <mat-hint *ngIf="focus_idx==2">Donner un nom à la collection a laquelle appartient votre NFT</mat-hint>
              <mat-icon *ngIf="collection?.length>0" matSuffix style="cursor: pointer" (click)="collection=''">cancel</mat-icon>
            </mat-form-field>
            <br>


            <mat-form-field appearance="fill" class="app-field">
              <mat-label>Intitulé du NFT</mat-label>
              <input matInput type="text" maxlength="200"
                     id="txtTitle"
                     [(ngModel)]="title" [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=2">
              <mat-hint *ngIf="focus_idx==2">Une accroche choc et courte pour présenter votre NFT sur la place de marché</mat-hint>
              <mat-icon *ngIf="title?.length>0" matSuffix style="cursor: pointer" (click)="title=''">cancel</mat-icon>
            </mat-form-field>

            <br>

            <div *ngIf="visual?.length>0"  style="text-align: right;width:50%;">
              <app-image [border]="false"
                         [src]="visual"
                         maxwidth="150px">
              </app-image>
            </div>
            <br>

            <table><tr>
              <td>
                <button mat-raised-button
                        mat-button class="app-button"
                        (click)="add_visual()">

                  <div class="bloc-bouton">
                    <span *ngIf="visual?.length>0">Modifier le</span>
                    <span *ngIf="visual?.length==0">Ajouter un</span>
                    <br>
                    visuel
                  </div>
                </button>
              </td>
            </tr></table>


            <br>

            <div *ngIf="is_html(desc)" [innerHTML]="desc | safe"
                 style="display: inline-block;margin:10px;" class="mat-elevation-z4"></div>

            <mat-form-field appearance="fill" class="app-field">
              <mat-label>Description du NFT</mat-label>
              <input matInput type="text" maxlength="200"
                     id="txtDescription"
                     [(ngModel)]="desc" [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=2.5">
              <mat-hint *ngIf="focus_idx==2.5">Présentez / commentez votre NFT en quelques mots</mat-hint>
              <mat-icon *ngIf="desc?.length>0" matSuffix style="cursor: pointer"  (click)="desc=''">cancel</mat-icon>
            </mat-form-field>

            <br>


            <!--              Tags-->
            <mat-form-field class="app-field" appearance="fill" >
              <mat-label>Tags</mat-label>
              <mat-chip-list #chipList aria-label="Selection des tags">
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="true"
                  (removed)="remove(tag)">
                  <small>{{tag}}</small>
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                  #tagsInput
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{tag}}
                </mat-option>
              </mat-autocomplete>
              <mat-hint>Attaché quelques htag à votre NFT</mat-hint>
            </mat-form-field>



            <br><br>


            <mat-form-field appearance="fill" class="app-field" id="formPrice" style="max-width: 120px">
              <mat-label>Prix de vente</mat-label>
              <input matInput id="txtPrice" type="number"
                     min="0" step="0.1" autocomplete="false"
                     [(ngModel)]="price" [ngModelOptions]="{standalone: true}" (ngModelChange)="update_prices()">
            </mat-form-field>

            &nbsp;
            <mat-form-field appearance="fill" style="max-width:100px">
              <mat-label>Monnaie</mat-label>
              <mat-select [(ngModel)]="selected_money" name="money" (ngModelChange)="update_user_solde()">
                <mat-option *ngFor="let money of moneys" [value]="money">
                  {{money?.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button
                    id="cmdDefaultPrice"
                    mat-button class="small-button"
                    style="max-width: 0px"
                    (click)="inc_price(0.1)">
              +0,1
            </button>
            <br><br>
            <mat-slide-toggle
              *ngIf="gift==0"
              color="primary"
              title="Le NFT n'est pas miné immédiatement, il est miné par l'acheteur"
              [(ngModel)]="nft_on_db">
              Reporter la fabrication du NFT à l'achat
            </mat-slide-toggle>

          </mat-step>

          <mat-step>

            <app-tuto *ngIf="idx_tab==0"
                      label="TOKENFORGE permet de cacher un secret dans le NFT. Celui-ci ne peut être vue que par le propriétaire du NFT. Par exemple vous pouvez cacher un mot de passe, un lien youtube, un fichier"></app-tuto>

            <form>
              <ng-template matStepLabel>Embarquer dans le NFT</ng-template>

              <table>
                <tr>
                  <td>
                    <app-upload-file
                      *ngIf="!filename || filename.length==0"
                      [send_file]="true"
                      [maxsize]="config.values.max_file_size"
                      (uploaded)="_import($event,0,'Commençons par charger le fichier dans le NFT')">
                      {{prompt}}
                    </app-upload-file>
                  </td>
                  <td *ngIf="filename?.length>0">
                    '{{filename}}' <span style="color: lightgrey">est embarqué dans votre NFT</span>&nbsp;
                  </td>
                  <td *ngIf="filename?.length>0">
                    <mat-icon style="cursor: pointer" (click)="filename=''">delete</mat-icon>
                  </td>
                </tr>
              </table>



              <div style="margin: 10px" *ngIf="filename?.length==0">ou</div>


              <mat-form-field appearance="fill" class="app-field" *ngIf="filename?.length==0">
                <mat-label>Une phrase secrete</mat-label>
                <input matInput type="text" (focusin)="focus_idx=1"
                       id="txtSecret"
                       maxlength="200" [(ngModel)]="secret" [ngModelOptions]="{standalone: true}">
                <mat-hint *ngIf="focus_idx==1">un mot de passe, une adresse internet qui ne sera accessible qu'au propriétaire</mat-hint>
              </mat-form-field>
              <br>

              <div *ngIf="(secret && secret.length>0) || filename?.length>0" style="margin-bottom: 15px">
                <mat-slide-toggle color="primary"
                                  *ngIf="!rent"
                                  [(ngModel)]="self_destruction" [ngModelOptions]="{standalone: true}">Auto-destruction après ouverture
                </mat-slide-toggle>
                <br>

                <mat-slide-toggle color="primary" *ngIf="!self_destruction"
                                  [(ngModel)]="rent" [ngModelOptions]="{standalone: true}">Retour au créateur après ouverture
                </mat-slide-toggle>
              </div>



              <mat-form-field appearance="fill" class="app-field" style="width: 200px;">
                <mat-label>Récompense à l'ouverture</mat-label>
                <input matInput type="number"
                       id="txtGift"
                       (focusin)="focus_idx=1.5" step="0.1" min="0" [max]="user.gas/1e18" [(ngModel)]="gift"
                       [ngModelOptions]="{standalone: true}">
                <mat-hint *ngIf="focus_idx==1.5">Le propriétaire recoit la somme que vous avez placée dans le NFT à son ouverture</mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" style="max-width:100px">
                <mat-label>Monnaie</mat-label>
                <mat-select [(ngModel)]="selected_money" name="money" (ngModelChange)="update_user_solde()">
                  <mat-option *ngFor="let money of moneys" [value]="money">
                    {{money?.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br><br>
              <mat-slide-toggle [(ngModel)]="vote"
                                [ngModelOptions]="{standalone: true}">Le propriétaire peut écrire dans le NFT (exemple: bulletin de vote)
              </mat-slide-toggle>
              <br>
              <mat-slide-toggle [(ngModel)]="secret_vote" *ngIf="vote"
                                [ngModelOptions]="{standalone: true}">Réponse / Vote secret
              </mat-slide-toggle>



            </form>

            <br>

            <div *ngIf="gift>0">
              <mat-slide-toggle
                color="primary"
                *ngIf="secret.length>0"
                [(ngModel)]="find_secret">Trouver le secret pour avoir la récompense
              </mat-slide-toggle>
            </div>

          </mat-step>

          <mat-step *ngIf="!elrond_standard">
            <ng-template matStepLabel>Pré-requis à l'achat</ng-template>
            <!--            Liste des token requis-->
            <span *ngIf="required_tokens.length==0">Aucun NFT requis</span>
            <div *ngIf="required_tokens.length>0">
              NFTs nécéssaires pour l'aquérir: <br>
              <table style="border-spacing: 3px;">
                <tr *ngFor="let t of required_tokens">
                  <td>-</td>
                  <td>{{t.title}}&nbsp;&nbsp;&nbsp;</td>
                  <td>{{t.desc}}</td>
                  <td><mat-icon style="cursor: pointer;" (click)="remove_required_token(t)">delete</mat-icon></td>
                </tr>
              </table>
            </div>
            <br>
            <button mat-button mat-raised-button
                    id="cmdAddRequiredToken"
                    class="app-button"
                    (click)="add_required_token()">
              <mat-icon>add_circle</mat-icon>&nbsp;
              <div class="bloc-bouton">Ajouter des<br>NFTs requis</div>
            </button>
            <br><br>

            <mat-slide-toggle
              color="primary"
              title="Exiger une pièce d'identité pour l'acheteur"
              [(ngModel)]="id_required">
              Identification formelle du propriétaire
            </mat-slide-toggle>


          </mat-step>

          <mat-step>
            <app-tuto *ngIf="idx_tab==2"
                      label="La vente des NFTs peut être déléguée à des revendeurs qui peuvent prendre une commission suivant les limites fixées par le créateur du NFT."></app-tuto>
            <ng-template matStepLabel>Distribution</ng-template>
            <mat-tab-group
              animationDuration="1000ms">
              <mat-tab label="Le propriétaire" style="height:max-content;overflow: hidden;">
                <br>

                <mat-form-field appearance="fill" class="app-field" style="max-width: 300px">
                  <mat-label>Adresse du propriétaire</mat-label>
                  <input matInput id="txtOwner" type="text"
                         autocomplete="false"
                         [(ngModel)]="owner_addr" [ngModelOptions]="{standalone: true}">
                  <mat-hint>Laisser vide si vous devez être le propriétaire à la création</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" class="app-field" style="max-width: 300px">
                  <mat-label>Adresse du createur</mat-label>
                  <input matInput id="txtCreator" type="text"
                         autocomplete="false"
                         [(ngModel)]="creator_addr" [ngModelOptions]="{standalone: true}">
                  <mat-hint>Laisser vide si vous êtes le créateur</mat-hint>
                </mat-form-field>

                <br>

                <br>
                <mat-slide-toggle title="Dans ce cas, le propriétaire peut remettre le NFT sur les places de marché"
                                  [(ngModel)]="owner_can_sell">le propriétaire peut revendre
                </mat-slide-toggle>

                <br><br>
                <mat-slide-toggle
                  title="Cela correspond à un changement de propriétaire"
                  [(ngModel)]="owner_can_transfer">le propriétaire peut offrir son NFT
                </mat-slide-toggle>

                <br><br>
                <mat-slide-toggle
                  title="Interdire la vente directe implique d'avoir au moins un distributeur déclaré"
                  [(ngModel)]="direct_sell">
                  <div class="bloc-bouton" style="text-align: left;font-weight: normal;">Le NFT peut être vendu sur la place de marché<br>en vente directe (sans passer par un distributeur)</div>
                </mat-slide-toggle>
                <br>
              </mat-tab>

              <mat-tab label="Vos revendeurs">
                <div *ngIf="dataSource.data.length==0"><br>Aucun revendeur autorisé</div>
                <br>
                <button mat-raised-button
                        mat-button class="app-button"
                        (click)="add_seller(false)">
                  Sélectionner
                </button>

                <button mat-raised-button
                        mat-button class="app-button"
                        (click)="add_seller(true)">
                  Tous
                </button>


                <br>

                <table mat-table [dataSource]="dataSource"
                       *ngIf="dataSource.data.length>0"
                       class="mat-elevation-z8 app-table">

                  <ng-container matColumnDef="Address" style="margin:3px;">
                    <th mat-header-cell *matHeaderCellDef>Adresse</th>
                    <td mat-cell title="Ouvrir un exemple de store"
                        style="cursor: pointer;color:white"
                        *matCellDef="let element" (click)="open_store(element)"> {{element.address.substr(0,10)+'..'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name"  style="margin:3px">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>


                  <ng-container matColumnDef="delete" style="margin:3px;text-align: right;">
                    <th mat-header-cell *matHeaderCellDef>Commandes</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-icon style="cursor: pointer" title="Enlever le revendeur" (click)="delete_dealer(element)">cancel</mat-icon>&nbsp;
                      <mat-icon style="cursor: pointer" title="Ouvrir un exemple de son store" (click)="open_store(element)">shopping_cart</mat-icon>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

                <br>

                <div *ngIf="dataSource.data.length>0">
                  <br>
                  Marge autorisé par les revendeurs<br>
                  <mat-form-field appearance="fill" class="app-field" style="max-width: 150px">
                    <mat-label>Commission minimum</mat-label>
                    <input matInput type="number" min="0" [max]="price"
                           id="txtMargeMin"
                           [(ngModel)]="min_price" [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=3">
                    <span matSuffix>xeGld</span>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="fill" class="app-field" style="max-width: 150px">
                    <mat-label>Commission maximum</mat-label>
                    <input matInput type="number"
                           id="txtMargeMax"
                           [min]="price" [(ngModel)]="max_price" [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=4">
                    <span matSuffix>xeGld</span>
                  </mat-form-field>

                  <br>
                  <mat-form-field appearance="fill" class="app-field" style="max-width: 200px" *ngIf="max_price>min_price">
                    <mat-label>Marge du créateur</mat-label>
                    <input matInput type="number" min="0" max="100"
                           id="txtMargeCreateur"
                           [(ngModel)]="miner_ratio" [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=20">
                    <span matSuffix>%</span>
                    <mat-hint *ngIf="focus_idx==20">Percentage attribué au créateur du NFT sur le prix augmenté</mat-hint>
                  </mat-form-field>

                </div>


              </mat-tab>
            </mat-tab-group>

            <br>
            <br>

          </mat-step>

          <mat-step>
            <app-tuto *ngIf="idx_tab==3" label="Dés le NFT fabriqué, celui-ci est visible dans la place de marché de TOKENFORGE"></app-tuto>

            <ng-template matStepLabel>Fabrication</ng-template>
            <mat-form-field appearance="fill" class="app-field" style="max-width: 250px;width:80%;">
              <mat-label>Combien d'exemplaire (max 30)</mat-label>
              <input matInput type="number"
                     id="txtNumber" autocomplete="false"
                     min="1" step="1" max="500" [(ngModel)]="count"
                     [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=10">
              <mat-hint *ngIf="focus_idx==10">Attention le coût de fabrication dépend également du nombre de NFT fabriqués</mat-hint>
            </mat-form-field>

            <button mat-button mat-icon-button mat-raised-button
                    id="cmdIncNumber"
                    class="icon-button"
                    (click)="count=count+1">
              +1
            </button>


            <br><br>
            <mat-slide-toggle
              name="opt_miner_canburn"
              [(ngModel)]="opt_miner_can_burn">
              Le créateur peut détruire le NFT (même après l'avoir vendu)
            </mat-slide-toggle>

            <div *ngIf="count>1">
              <mat-slide-toggle
                *ngIf="gift>0"
                name="opt_gift"
                [(ngModel)]="opt_gift">
                N'attribuer la récompense qu'a un seul NFT sur les {{count}}(loterie)
              </mat-slide-toggle><br>

              <mat-slide-toggle
                color="primary"
                name="opt_unik"
                [(ngModel)]="opt_unik">
                Un seul NFT par personne
              </mat-slide-toggle><br>

            </div>

            <br>

            <mat-slide-toggle [(ngModel)]="instant_sell">Mettre en vente dés la fabrication terminée</mat-slide-toggle>


            <br>
            <div *ngIf="secret.length==0">

              <app-tuto [if]="elrond_standard" faq="compatibility"
                        label="La compatibilité avec les NFTs Elrond réduit les possibilités du token, en revanche celui-ci devient visible sur d'autres places de marché"></app-tuto>

              <mat-slide-toggle
                color="primary"
                title="Fabriquer un NFT au standard Elrond, cette option n'est disponible que si votre NFT le permet"
                [(ngModel)]="elrond_standard">NFT visible dans le wallet Elrond
              </mat-slide-toggle>
              <br>
            </div>
            <br>




            <!--            Preview du token -->
            <div *ngIf="nfts_preview.length>0" style="width: 100%;text-align: center;">
              <app-nfts [nfts]="nfts_preview"
                        [art]="false"
                        [with_actions]="false"
                        [with_icon]="false"
                        [user]="user">
              </app-nfts>
              <br>
              <small>Visualisation de votre NFT dans la place de marché</small>
            </div>

            <br>

            <button mat-raised-button
                    mat-button class="app-button"
                    id="cmdShowPreview"
                    (click)="create_preview()">
              <span *ngIf="nfts_preview.length==0">Prévisualiser</span>
              <span *ngIf="nfts_preview.length>0">Cacher</span>
            </button>

            <button mat-raised-button
                    mat-button class="app-button"
                    id="cmdEvalPrice"
                    title="Estimation du coût de fabrication (bientôt disponible)"
                    [disabled]="true"
                    (click)="make_token(true)">
              <div class="bloc-bouton">Estimation<br>du coût</div>
            </button>

            <button mat-raised-button
                    mat-button class="app-button"
                    id="cmdToYAML"
                    title="Copie le contenu du NFT dans le presse papier (pour intégration dans un fichier)"
                    (click)="export_to_yaml()">
              <div class="bloc-bouton">Copier dans<br>un fichier</div>
            </button>

            <button mat-raised-button  color="primary"
                    mat-button class="app-button"
                    id="cmdMakeNFT"
                    [disabled]="title?.length==0 || count*gift>solde_user/1e18"
                    (click)="make_token(false)">
              Fabriquer !
            </button>

            <br>
            <div style="font-size: small;">
              <span *ngIf="!opt_gift">Cout de fabrication: {{count*gift}} {{selected_money.label}} + frais de transactions</span>
              <span *ngIf="count*gift>user.gas/1e18">(Solde insuffisant)</span>
            </div>


          </mat-step>
        </mat-vertical-stepper>&nbsp;
      </div>
    </mat-tab>

    <!--    <mat-tab label="Création automatique">-->
    <!--      <br>-->
    <!--      TokenForge propose une interface de création en masse de NFTs. Cette interface repose sur un fichier Excel téléchargeable<br><br>-->

    <!--      <a href="./assets/TokenForgeFromExcel.xlsm" download="TokenForge.xlsm" target="_blank">Télécharger le fichier</a>-->

    <!--      <br>-->

    <!--    </mat-tab>-->


    <mat-tab label="En masse" style="width: 100%;text-align: center;">

      <br>
      <div *ngIf="nfts_to_send.length==0">
        Créer vos NFTs à partir de fichier Excel, YAML, CSV
        <br>
        <app-upload-file
          [encode]="true"
          (uploaded)="onUpload($event)">
        </app-upload-file>
      </div>


      <table class="mat-elevation-z4"
             style="padding: 10px;width: 80%;display: inline-block;text-align: center;margin:30px;font-weight: lighter;"
             *ngIf="nfts_to_send.length>0">
        <tr style="font-size: large;width: 100%;padding: 5px;">
          <td style="width: 12%;">Quantité</td><td>Titre</td><td style="width: 12%;">Coût</td><td>Fabriquer</td>
        </tr>
        <tr *ngFor="let row of nfts_to_send" style="width: 100%;padding: 5px;">
          <td>{{row.count}}</td>
          <td>{{row.title}}</td>
          <td>{{row.cost}}</td>
          <td style="width: 12%;color: white;">
            <mat-checkbox [(ngModel)]="row.to_mint"></mat-checkbox>
          </td>
        </tr>
      </table>


      <br>
      <button mat-raised-button color="primary"
              [disabled]="nfts_to_send.length==0"
              mat-button class="app-button"
              (click)="send_file()">
        <div class="bloc-bouton">Lancer la<br>fabrication</div>
      </button>
      &nbsp;
      <button mat-raised-button
              *ngIf="nfts_to_send.length>0"
              mat-button class="app-button"
              (click)="nfts_to_send=[]">
        Annuler
      </button>

    </mat-tab>




  </mat-tab-group>


</div>
