<div class="mainform">
  <app-tuto label="Retrouvez ici l'ensemble des informations lié à l'application {{config.values?.appname}}"></app-tuto>

  <br>
  <br>
  <div style="font-size: xx-large;font-weight: lighter;">
     {{message}}<br>
  </div>

  <br><br>

  <button mat-raised-button
        mat-button class="large-button"
        (click)="openForum()">
    <div class="bloc-bouton">Joindre le forum<br>des utilisateurs</div>
  </button>
  <br>

  <button mat-raised-button
        mat-button class="large-button"
        (click)="restart(false)">
    Relancer {{config.values?.appname}}
  </button>

<!--  <br><br>-->
<!--  <button mat-raised-button-->
<!--        mat-button class="large-button"-->
<!--        (click)="restart(true)">-->
<!--    Effacer les préférences (non conseillé)-->
<!--  </button>-->
<!--  <br>-->


</div>

