<app-tuto   title="<br><br><br><br><br><strong>Fabriquer votre monnaie</strong>"
            color="white"
            image=""
            subtitle="Fabriquer une monnaie et distribuez la à votre réseau"
            background="./assets/img/moneys.jpg"></app-tuto>

<div class="mainform">
  <h2>Créer votre monnaie</h2>
  <app-tuto label="Pour créer une nouvelle monnaie il vous suffit d'indiquer son nom en quelques lettres et d'indiquer le nombre total de pieces en circulation"></app-tuto>
  <app-hourglass [message]="message" anim="./assets/makemoney.gif"></app-hourglass>

  <div *ngIf="user.gas<config.values?.min_gas_to_create">
    Vous n'avez probablement plus assez d'eGold pour fabriquer une monnaie.<br>
    <span style="cursor: pointer;color:deeppink;" (click)="router.navigate(['settings'])">Recharger votre compte</span>
  </div>

  <div *ngIf="message?.length==0 && user.gas>config.values?.min_gas_to_create">

    <div *ngIf="url_transaction?.length>0">
      <a [href]="url_transaction" target="_blank">Voir la transaction</a>
    </div>

    <mat-form-field appearance="fill" class="app-field" style="max-width: 320px">
      <mat-label>Nom complet de votre monnaie</mat-label>
      <input matInput autocomplete="off" type="text" minlength="3" maxlength="20" [(ngModel)]="name" (focusout)="format_name()" (focusin)="focus_idx=1" cdkFocusInitial>
      <mat-hint *ngIf="focus_idx==1">entre 3 et 20 caractères sans espace</mat-hint>
    </mat-form-field>
    &nbsp;&nbsp;
    <br><br>
    <mat-form-field appearance="fill" class="app-field" style="max-width: 120px">
      <mat-label>Unité</mat-label>
      <input autocomplete="off" matInput type="text" maxlength="8" [(ngModel)]="unity" (focusout)="upper_unity($event)" (focusin)="focus_idx=2">
      <mat-hint *ngIf="focus_idx==2">Le nom abrégé de votre monnaie</mat-hint>
    </mat-form-field>
    &nbsp;&nbsp;

    <mat-form-field appearance="fill" class="app-field" style="max-width: 170px">
      <mat-label>Quantité initiale</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="amount" (focusin)="focus_idx=3">
      <mat-hint *ngIf="focus_idx==3">vous êtes la banque centrale, à vous de distribuer la monnaie</mat-hint>
    </mat-form-field>

    <br>
    <!--TODO a retablir une fois disponible-->
    <!--    <div style="width:200px;text-align: left;display: inline-block">-->
    <!--      <br><br>-->
    <!--      <mat-checkbox [(ngModel)]="_public"-->
    <!--                    title="La monnaie est visible dans la liste des monnaies disponibles">Public</mat-checkbox>-->
    <!--      <br><br>-->
    <!--      <mat-checkbox [(ngModel)]="transferable"-->
    <!--                    title="Donner la possibilité d'envoyer la monnaie entre comptes">-->
    <!--        Transférable-->
    <!--      </mat-checkbox>-->
    <!--    </div>-->

    <br><br>



    <mat-form-field appearance="fill" class="app-field" style="max-width: 320px">
      <mat-label>Votre mail pour recevoir la confirmation</mat-label>
      <input matInput type="text" maxlength="200" [(ngModel)]="email_confirm" (focusin)="focus_idx=4">
      <mat-hint *ngif="focus_idx==4">Des infos sur votre monnaie vous seront immédiatement envoyées après la création de celle-ci</mat-hint>
    </mat-form-field>
    <br><br>



    <mat-form-field appearance="fill" class="app-field" style="max-width: 320px">
      <mat-label>Document associée (optionnel)</mat-label>
      <input matInput type="text" maxlength="200" [(ngModel)]="url" (focusin)="focus_idx=5">
      <mat-hint *ngIf="focus_idx==5">URL renvoyant vers la documentation / promotion de votre monnaie</mat-hint>
    </mat-form-field>


    <br><br><br>
    <button mat-raised-button  color="primary"
            mat-button class="large-button"
            [disabled]="name?.length==0"
            (click)="create()">
      Forger votre monnaie !
    </button>

  </div>

</div>





