<div class="mainform" style="text-align: center;padding: 10px;">
  <table style="width: 100%;"><tr style="width: 100%;">
    <td style="width: 120px;">
      <app-image [cover]="false" maxwidth="100px" [src]="miner?.visual" [border]="false"></app-image>
    </td>
    <td style="width:max-content;vertical-align: text-top;text-align: left;padding: 5px;">
      <span style="font-size: xx-large;">{{miner?.pseudo}}</span>
      &nbsp;<mat-icon *ngIf="miner?.website?.length>0"
                      (click)="open_website(miner)"
                      style="cursor: pointer;"
                      title="Voir son site web">language</mat-icon>
      <br>
      {{miner?.description}}
    </td>
    <td style="width:62px;text-align: right">
      <qrcode
        [width]="60"
        ngxClipboard
        [cdkCopyToClipboard]="miner?.addr"
        style="display: inline-block;"
        [elementType]="'svg'"
        [errorCorrectionLevel]="'M'"
        [qrdata]="miner?.addr">
      </qrcode>
    </td>
  </tr></table>

  <br>

  <div style="font-size: x-large;color:lightcoral;line-height: normal;" *ngIf="miner?.pseudo=='' || miner?.description==''">
    Ce créateur donne très peu d'information sur lui.<br>
    Afin d'éviter la contre-façon, il n'est pas prudent d'acquérir des NFTs payant sans un minimum d'informations sur leur créateur.
  </div>
  _____
  <br><br>

  <h3>Ses créations</h3>
  <app-nfts [user]="user" [with_icon]="false"
            (buy)="refresh()" seller="0x0"
            [art]="false"
            [with_actions]="false"
            (refresh)="refresh()"
            [nfts]="nfts" maxwidth="100px" width="90%" height="auto"></app-nfts>
  <br><br>
</div>
