<div class="mainform">
  <br>

  <table style="width: 90vw;text-align: center;" *ngIf="hand>0">
    <tr>
      <td *ngFor="let fr of friends"
          [title]="fr.email"
          style="width: 15%;cursor: pointer;"
          (click)="send_to(fr)">
        <mat-icon>{{fr.icon}}</mat-icon><br>
        {{fr.label}}
      </td>
    </tr>
  </table>


  <br><br>

  <app-account [solde]="hand"
               fontsize="1.5em"
               *ngIf="hand>0"
               [unity]="config.unity">
  </app-account>
  <br><br>

  <table style="width: 90vw;text-align: center;">
    <tr>
      <td *ngFor="let bt of buttons">
        <mat-icon *ngIf="bt.value<=solde">arrow_drop_up</mat-icon>
      </td>
    </tr>
    <tr>
    <td *ngFor="let bt of buttons">
      <button mat-raised-button mat-button mat-icon-button
              *ngIf="bt.value<=solde"
              [title]="'sortir '+bt.value+' '+config.unity.toLowerCase()+' de mon wallet'"
              class="large-icon-button"
              (click)="addInHand(bt.value)">
        <span *ngIf="bt.label">{{bt.label}}</span>
        <span *ngIf="!bt.label">{{bt.value}}</span>
      </button>
    </td>
  </tr>
  </table>

  <br><br><br>


    <br><br>
      <app-account [solde]="solde"
                   fontsize="4em"
                   [unity]="config.unity">
      </app-account>
    <br>



    <br>
     <button mat-raised-button mat-button class="app-button"
              *ngIf="config.unity && !showQRCode"
              (click)="showQRCode=true">
        Recevoir
      </button>

    <mat-icon *ngIf="showQRCode">arrow_drop_up</mat-icon>
    <br>
    <qrcode
      *ngIf="showQRCode"
      [width]="200"
      ngxClipboard
      [cdkCopyToClipboard]="user.addr"
      (click)="informe_clipboard()"
      style="display: inline-block;"
      [elementType]="'svg'"
      [errorCorrectionLevel]="'M'"
      [qrdata]="user.addr">
    </qrcode>

  <button mat-raised-button mat-button class="small-button"
              *ngIf="config.unity && solde>0"
              (click)="router.navigate(['transfer'])">
    <mat-icon>send</mat-icon>
  </button>

</div>
