/* You can add global styles to this file, and also import other style files */

$darkgray: #3d3d3d
$darkdarkgray: #1c1a1a
$grayinput: #303030
$button-color: #221913
$main-back-color: #686868

.mainform
  text-align: center
  min-height: 100vh
  background-color: $main-back-color
  color: white
  padding: 0px



.sidemenu
  background-color: #27272b
  color: white
  margin: 0px !important
  padding: 0px !important
  z-index: 10 !important
  display: inline-block
  font-weight: lighter
  font-size: small


.container
  width: 100vw
  min-height: 100vh
  background: transparent
  padding: 2px
  margin: 0
  position: fixed
  z-index: 0 !important


.app-button
  margin: 4px !important
  min-width: 100px !important
  background-color: $button-color
  padding: 2px
  color: lightgray

.small-button
  margin: 4px !important
  width: 20px !important
  background-color: $button-color
  color: lightgray
  padding: 1px

.large-button
  margin: 10px !important
  min-width: 200px !important
  background-color: $button-color
  color: white !important

.square-button
  margin: 5px !important
  width: 100px !important
  height: 100px !important
  background-color: $button-color
  color: white


h2
  color: white
  background-color: transparent

h1
  color: white
  background-color: transparent


.div-center
  width: 100%
  text-align: center

.icon-button
  font-size: 0.8em !important
  margin: 2px !important
  display: inline-block
  background: $button-color

.large-card
  min-width: 500px
  margin: 10px

.icon-profil
  width: 40px

.wrap-list
  display: flex
  flex-wrap: wrap
  justify-content: center


body
  background-color: $darkgray !important
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif
  color: white
  margin: 0px

html
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif
  font-weight: lighter
  background-color: $darkgray !important
  overflow: scroll
  overflow-x: hidden

::-webkit-scrollbar
    width: 0px
    background: transparent

::-webkit-scrollbar-thumb
    background: #FF0000



mat-label
  color: lightgray

mat-hint
  color: #9d8a71 !important

input
  color: lightgray !important

mat-dialog-container
  background-color: $darkgray !important
  color: white

mat-dialog-title
  color: white !important

mat-dialog-content
  color: white !important


td
  color: white !important

th
  color: lightgrey !important
  font-weight: bold
  margin: 2px

mat-icon
  color: white

mat-tab-group
  color: white !important

mat-button-toggle-group
  display: inline-block

.app-table
  width: 90%
  padding: 0
  display: inline-block
  background-color: $grayinput

mat-dialog-content
  background-color: $darkgray !important
  color: lightgrey !important
  margin: 0
  overflow: hidden !important

.app-field
  width: 95%
  max-width: 500px
  margin: 5px
  color: lightgray

.app-slider
  color: lightgray

h3
  width: 100%
  text-align: center
  font-size: x-large
  margin: 3%

.bottom-bar
  width: 97%
  text-align: right
  height: 50px
  position: absolute
  bottom: 50px
  left: 0px

.bottom-action-bar
  width: 96%
  margin: 2%
  position: absolute
  bottom: 0px
  right: 0px
  text-align: right
  color: black


mat-button-toggle
  width: 75px
  max-height: 50px
  line-height: 90%
  text-align: center
  font-size: small


.h-zone
  margin-top: 5px
  font-size: x-large
  font-weight: lighter
  font-variant-caps: all-small-caps
  width: 100%
  text-align: center
  margin-bottom: 10px

.fill-remaining-space
  flex: 1 1 auto

.app-prompt
  padding: 0px
  margin: 0px
  position: relative
  color: white

.app-panel
  width: 96%
  margin: 2%
  background-color: $darkgray
  color: white

.app-mat-panel-description
  font-weight: lighter
  color: darkgray
  text-align: left
  font-size: small
  vertical-align: center

.faq-content
  padding-left: 5px
  font-size: small
  background-color: #323232

.bloc-bouton
  margin: 0px
  padding: 0px
  text-align: center
  display: inline-block
  font-size: small
  font-weight: 500
  line-height: 96%



.app-mat-panel-title
  text-align: center
  font-weight: bold
  font-size: small

.app-card-panel
  max-width: 500px
  width: 90%
  margin: 7px !important
  display: inline-block

a
  color: lightblue
  text-decoration: none

.large-icon-button
  padding: 5px
  width: 15vw !important
  height: 15vw !important
  max-width: 100px
  max-height: 100px
  font-size: 30px
  margin: 10px
  display: inline-block
  cursor: pointer
  background-color: $button-color

//remplissage des cartes
$card-color: #3d3d4b

.app-card-action
  text-align: right
  right: 3%
  width: 96%
  position: absolute
  bottom: 8px
  padding: 8px
  margin: 0
  background: none

.app-card
  max-width: 500px
  min-width: 250px
  margin: 4px
  text-align: left
  display: inline-block
  background-color:  $card-color

mat-card-header
  background-color:  $card-color

mat-card-content
  background-color:  $card-color

mat-expansion-panel-header
  background-color: $darkgray



.photo
  border: white solid 1px


.toolbar-app
  z-index: 9999
  height: 40px
  background-color: #2d2d2d
  color: lightgray
  margin: 0px
  padding: 0px

.image-icon
  width: 27px !important
  height: 27px !important

.mat-form-field-type-mat-select .mat-form-field-label, .mat-select-value
  color: white

mat-accordion
  margin: 2%
  width: 96%
  display: inline-block
  color: white

mat-expansion-panel-header
  font-weight: bold
  padding: 3px
  color: white !important

mat-expansion-indicator
  color: white !important
  font-size: large

