<div class="mainform">
  <app-hourglass [message]="message"></app-hourglass>


  <br><br>

  <a [href]="fileUrl"
     *ngIf="user.pem"
     download="elrond_key.pem">Télécharger ma clé privée</a>
  <br>
  pour pouvoir se reconnecter

  <br><br>

  <button mat-raised-button mat-button
          class="app-button"
          (click)="router.navigate(['private'])">
    <div class="bloc-bouton">Changer<br>de compte</div>
  </button>
  &nbsp;
  <button mat-raised-button mat-button
          class="app-button"
          (click)="raz_account()">
    <div class="bloc-bouton">Nouveau<br>compte</div>
  </button>

  <br>



  <br><br>
  ______
  <br><br><br>

  Vous disposez de {{user.gas/1e18 | number:'1.0-3'}} eGld<br>
  pour réaliser les transactions
  <br><br>
   <button mat-raised-button mat-button
          class="app-button" [cdkCopyToClipboard]="user.addr" ngxClipboard
          (click)="reload_account()">
    <div class="bloc-bouton">Recharger<br>mon compte</div>
  </button>

  <br>
  <br>

  <div *ngIf="api.contract">
  ______
  <br><br><br>


     <app-elrond-addr label="Transactions du compte"
                    type="address"
                   [addr]="user.addr">
  </app-elrond-addr>

  <br><br>
  <app-elrond-addr [label]="'Transactions sur \''+user.unity+'\''"
                   [addr]="api.contract"
                   type="address">
  </app-elrond-addr>

  </div>





</div>
