<div class="mainform">

  <app-hourglass [message]="message" anim="/assets/gears.gif"></app-hourglass>

  <app-tuto label="Si besoin, télécharger votre clé privée et conserver là en lieu sûr pour effecture les transferts et la création de nouvelle monnaie"></app-tuto>

  <br>

  <!--  <button mat-raised-button mat-button-->
  <!--          class="app-button"-->
  <!--          *ngIf="filename.length==0"-->
  <!--          (click)="set_filename()">-->
  <!--    <div class="bloc-bouton">Sauvegardez<br>votre compte</div>-->
  <!--  </button>-->

  <mat-accordion *ngIf="message?.length==0">

    <mat-expansion-panel class="app-panel" [expanded]="open_section==1">
      <mat-expansion-panel-header>Modifier votre profil</mat-expansion-panel-header>

      <app-tuto label="Les informations de votre profil sont notamment utilisées pour vous présenter en tant que créateur de NFT"></app-tuto>


      <button mat-raised-button mat-button
              class="app-button"
              (click)="router.navigate(['miner'],{queryParams:{addr:user.addr}})">
        <div class="bloc-bouton">Page publique<br>de créateur</div>
      </button>

      <br>


      <mat-form-field appearance="fill" class="app-field">
        <mat-label>Votre nom / pseudo</mat-label>
        <input matInput type="text" (focusin)="focus_idx=1" maxlength="200" [(ngModel)]="user.pseudo" [ngModelOptions]="{standalone: true}">
        <mat-hint *ngIf="focus_idx==1">Votre pseudo pourrat être associé à vos NFTs si vous le souhaitez</mat-hint>
      </mat-form-field>

      <div *ngIf="user.visual" style="display: inline-block;text-align: center;width: 100%">
        <h4>Visuel de votre profil</h4>

        <app-image (click)="change_visual('visual')" [src]="user.visual" [border]="false"></app-image>

      </div>
      <br>

      <mat-form-field appearance="fill" class="app-field">
        <mat-label>Mail de contact (jamais communiqué)</mat-label>
        <input matInput type="email" (focusin)="focus_idx=8" maxlength="200" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        <mat-hint *ngIf="focus_idx==8">Permet de mettre en relation le distributeur et le créateur pour le référencement</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill" class="app-field">
        <mat-label>Votre parcours</mat-label>
        <textarea matInput matInput type="text" (focusin)="focus_idx=2" maxlength="400" [(ngModel)]="user.description" [ngModelOptions]="{standalone: true}"></textarea>
        <mat-hint *ngIf="focus_idx==2">Décrivez brievement votre parcours, ce texte est surtout utiliser pour profil de créateur</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill" class="app-field">
        <mat-label>L'adresse de votre site</mat-label>
        <input matInput type="url" (focusin)="focus_idx=3" maxlength="200" [(ngModel)]="user.website" [ngModelOptions]="{standalone: true}">
        <mat-hint *ngIf="focus_idx==3">En tant que créateur de NFT vous disposez peut être d'un site</mat-hint>
      </mat-form-field>

      <br>
      <button mat-raised-button mat-button
              class="app-button"
              (click)="update_user()">
        Enregistrer
      </button>

    </mat-expansion-panel>


    <mat-expansion-panel class="app-panel" [expanded]="open_section==2">
      <mat-expansion-panel-header>Distribuer des NFTs</mat-expansion-panel-header>
      <mat-form-field appearance="fill" class="app-field">
        <mat-label>Nom de votre marketplace</mat-label>
        <input matInput type="url" (focusin)="focus_idx=4" maxlength="200" [(ngModel)]="user.shop_name" [ngModelOptions]="{standalone: true}">
        <mat-hint *ngIf="focus_idx==4">Pour devenir distributeur vous devez avoir un nom de boutique</mat-hint>
      </mat-form-field>
      <br>

      <div *ngIf="user.shop_visual" style="display: inline-block;text-align: center;width: 100%">
        <h4>Visuel de votre marketplace</h4>
        <app-image [cover]="false" maxwidth="150" [src]="user.shop_visual"
                   [border]="false"
                   (click)="change_visual('shop_visual')"></app-image>
      </div>

      <mat-form-field appearance="fill" class="app-field">
        <mat-label>Description de votre marketplace</mat-label>
        <textarea matInput matInput type="text" (focusin)="focus_idx=5" maxlength="400" [(ngModel)]="user.shop_description" [ngModelOptions]="{standalone: true}"></textarea>
        <mat-hint *ngIf="focus_idx==5">La description permet à vos clients de savoir quel type de NFT vous distribuez</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill" class="app-field">
        <mat-label>L'adresse internet de votre marketplace</mat-label>
        <input matInput type="url" (focusin)="focus_idx=6" maxlength="200" [(ngModel)]="user.shop_website" [ngModelOptions]="{standalone: true}">
        <mat-hint *ngIf="focus_idx==6">Votre market place peut être accessible en dehors de TokenForge</mat-hint>
      </mat-form-field>


      <br>
      <button mat-raised-button mat-button
              class="app-button"
              [disabled]="user.shop_website?.length+user.shop_name?.length+user.shop_description?.length==0"
              (click)="make_store()">
        <div class="bloc-bouton" *ngIf="!user.isDealer()">Créer la<br>boutique</div>
        <div class="bloc-bouton" *ngIf="user.isDealer()">Modifier la<br>boutique</div>
      </button>

      <button mat-raised-button mat-button
              class="app-button"
              [disabled]="!user.isDealer()"
              (click)="openclose_store()">
        <div class="bloc-bouton" *ngIf="user.dealer?.state==0">Fermer la<br>boutique</div>
        <div class="bloc-bouton" *ngIf="user.dealer?.state==1">Ouvrir la<br>boutique</div>
      </button>

      <button mat-raised-button mat-button
              class="app-button"
              ngxClipboards
              [cdkCopyToClipboard]="domain_appli+'/?store='+user.addr"
              [disabled]="!user.isDealer() || user.shop_website?.length==0"
              (click)="share()">
        <div class="bloc-bouton" *ngIf="user.dealer?.state==0">Partager l'url<br>de la boutique</div>
      </button>


    </mat-expansion-panel>


    <!--    Securité -->
    <mat-expansion-panel class="app-panel" [expanded]="open_section==3">
      <mat-expansion-panel-header>Sécurité</mat-expansion-panel-header>

      <button mat-raised-button mat-button
              class="app-button"
              color="alert"
              [disabled]="!this.user.email"
              (click)="delete_account()">
        Supprimer le compte
      </button>

      <button mat-raised-button mat-button
              class="app-button"
              (click)="raz_pem_ondevice()">
        Effacer votre clé
      </button>

      <br>
       <app-savekey style="display: inline-block;"></app-savekey>

    </mat-expansion-panel>



  </mat-accordion>


  <div *ngIf="message?.length==0">
    <br><br>

    <small>Votre adresse publique</small>:<br>
    <qrcode
      [width]="150"
      ngxClipboard
      [cdkCopyToClipboard]="user.addr"
      (click)="informe_clipboard()"
      style="display: inline-block;"
      [elementType]="'svg'"
      [errorCorrectionLevel]="'M'"
      [qrdata]="user.addr">
    </qrcode>

    <br>
    <app-tuto label="Votre adresse publique peut être flashé pour recevoir des fonds, vérifier que vous êtes le propriétaire d'un NFT, être déclaré comme distributeur ... et pleins d'autres choses encore"></app-tuto>
    <br>
    <br>
    <a routerLink="/transactions">Voir mes transactions</a>

    <small>
      pour pouvoir y accéder depuis le <a [href]="config.server.wallet" target="_blank">wallet Elrond</a> par exemple
    </small>

    <br>



  </div>
  <br>

  <br>

</div>
