<div *ngIf="user.pem && !save_key">
  <br>
<!--  <p style="width: 80%;margin-left: 10%;">-->
<!--    Pensez a sauvegarder votre clé privée-->
<!--    &nbsp;-->
<!--    <mat-icon style="cursor: pointer;" (click)="already_save()">cancel</mat-icon>-->
<!--  </p>-->

  <a [href]="fileUrl"
     title="Ce fichier est strictement confidentiel, il ne doit être communiquer à personne et conserver précieusement."
     *ngIf="user.pem"
     (click)="valide_save()"
     download="macle.pem">
    <table class="app-button" style="display: inline-block;width:200px;border-radius: 7px;"><tr>
      <td><mat-icon>download</mat-icon></td>
      <td>Sauvegardez votre clé privée</td>
    </tr></table>
  </a>

  <br><br>

</div>
