<div *ngIf="user.pem && !save_key">
  <br>
<!--  <p style="width: 80%;margin-left: 10%;">-->
<!--    Pensez a sauvegarder votre clé privée-->
<!--    &nbsp;-->
<!--    <mat-icon style="cursor: pointer;" (click)="already_save()">cancel</mat-icon>-->
<!--  </p>-->

  <a [href]="fileUrl"
     title="Ce fichier est strictement confidentiel, il ne doit être communiquer à personne et conserver précieusement."
     *ngIf="user.pem.length>0"
     (click)="valide_save()"
     [download]="filename">
    <table class="app-button" style="display: inline-block;width:150px;border-radius: 7px;font-size: small;line-height: 95%;"><tr>
      <td><mat-icon>download</mat-icon></td>
      <td>Sauvegardez<br>votre signature</td>
    </tr></table>
  </a>

  <br><br>

</div>
