<div *ngIf="message?.length>0" [ngStyle]="{maxwidth:maxwidth,marginTop:marginTop,display:'inline-block',marginBottom:'5px'}">
  <table style="width:100%;display: inline-block;height: min-content;">
    <tr>
      <td>
        <mat-spinner [diameter]="diameter"></mat-spinner>
      </td>

      <td [ngStyle]="{'text-align': 'left','font-size':fontsize}">
        {{message}}
      </td>

      <td *ngIf="canCancel" style="text-align: right;cursor: pointer;">
        <mat-icon (click)="oncancel.emit()">cancel</mat-icon>
      </td>

      <td *ngIf="faq?.length>0" style="text-align: right;cursor: pointer;">
        <app-faq-link [faq]="faq"></app-faq-link>
      </td>

    </tr>
  </table>

  <div *ngIf="src.length>0">
    <img [src]="src" style="width: 150px">
  </div>

</div>

