<div class="mainform">
  <div *ngIf="nft.price>0 && message?.length==0" style="font-size: large;">
    <br>
    Confirmer l'achat ?<br>
    pour&nbsp;&nbsp;<app-unity *ngIf="nft.price>0" [value]="nft.price" [unity]="nft.unity" fontsize="1,7em" fontsize_unity="large"></app-unity>
    <br>
  </div>

  <app-hourglass [duration]="user.transaction_delay" [message]="message" anim="./assets/gears.gif"></app-hourglass>

  <app-nfts [with_icon]="false"
            height="220px"
            [with_actions]="false"
            [force_text]="true" [art]="false"
            [user]="user" [nfts]="[nft]"></app-nfts>

  <br>
  <p *ngIf="message?.length==0" style="font-size: small;line-height: 95%;">
    Distribué par {{seller?.shop_name}}<br>
    Réalisé par
    <a [href]="miner?.website" target="_blank">
      <span *ngIf="miner?.pseudo?.length>0">{{miner?.pseudo}}</span>
      <span *ngIf="miner?.pseudo?.length==0">un anonyme</span>
    </a>
  </p>
  <br>
  <div *ngIf="seller?.shop_name=='Vente directe' && nft.price>0" style="line-height: 95%;width:80%;display: inline-block;">
    Attention ! N'achetez des NFTs via la vente directe qu'aux créateurs que vous connaissez
  </div>

</div>



<div class="bottom-bar" *ngIf="message?.length==0">
  <button mat-raised-button mat-button
          class="app-button" (click)="cancel()">
    Annuler
  </button>
  &nbsp;
  <button mat-raised-button mat-button
          class="app-button"
          color="primary"
          title="Confirmation de l'achat"
          (click)="buy()">
    Acheter
  </button>


</div>
