<div class="mainform">
  <h2 *ngIf="message?.length==0">Confirmer l'achat ?</h2>
  <app-unity [value]="nft.price" fontsize="3em" fontsize_unity="large"></app-unity>
  <br><br>


  <img src="./assets/gears.gif" style="width: 150px;display: inline;" *ngIf="message.length>0"><br>
  <app-hourglass [message]="message"></app-hourglass>

  <app-nfts [with_icon]="false"
            *ngIf="message?.length==0"
            [with_actions]="false"
            [force_text]="true"
            [user]="user" [nfts]="[nft]"></app-nfts>

  <br>

  <p *ngIf="message?.length==0">
    Distribué par {{seller?.shop_name}}<br>
    Réalisé par <a [href]="miner?.website" target="_blank">{{miner?.pseudo}}</a><br>
  </p>

</div>
<div class="bottom-bar" *ngIf="message?.length==0">
    <button mat-raised-button mat-button
            class="app-button"
                (click)="cancel()">
          Annuler
    </button>
  &nbsp;
    <button mat-raised-button mat-button
            class="app-button"
                color="primary"
                title="Confirmation de l'achat"
                (click)="buy()">
          Acheter
    </button>
</div>
