<div *ngIf="nfts?.length>0" style="margin: 0px;padding:0;width:99%;text-align: center;"  >

  <div *ngIf="!art" class="wrap-list">
    <mat-card class="app-card mat-elevation-z16"
              [ngStyle]="{'min-height':'150px','max-width':max_w,width:_w,'margin':'1%','margin-bottom':'5px',padding:'7px','color':'white'}"
              *ngFor="let nft of nfts | filter: ['search',filter]">

      <mat-card-header style="height: 35px">
        <img *ngIf="with_icon" mat-card-avatar [src]="nft.icon"
             class="image-icon"
             style="margin:0;">
        <mat-card-title [ngStyle]="{'font-size':fontsize}">
          <span style="font-size: medium" *ngIf="nft?.count && nft?.count>1">({{nft.count}}) &nbsp;</span>
          {{nft.title}}
          <div *ngIf="nft.price>0 && nft.state==0 && (nft.owner==user.addr || nft.isDealer)"
               style="display: inline;">
            <small>&nbsp;- {{nft.price | number:'1.0-3'}} {{nft.unity}}</small>
          </div>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content [title]="nft.title+' - '+nft.description"
                        [ngStyle]="{'min-height':'fit-content',width:'95%',height:_h,'text-align':'center',margin:'5px','margin-bottom':'37px',overflow:'hidden'}">


        <div *ngIf="nft.state!=0 && nft.owner!=user.addr" style="position: absolute;z-index: 200;top:20%;left:20%;width:50%;display: block;">
          <img src="/assets/img/vendu.png" style="width:150px;">
        </div>


        <div *ngIf="nft.markup>0 && nft.state==0 && nft.owner==user.addr" style="font-size: small;text-align: left;">
          dont:
          <ul style="padding:0;margin:0;margin-left:20px;line-height: 90%;">
            <li *ngIf="nft?.miner_ratio>0">{{nft.markup*nft.miner_ratio/100 | number:'1.0-2'}} pour le createur</li>
            <li>{{nft.markup*(1-nft.miner_ratio/100) | number:'1.0-2'}} pour le distributeur</li>
          </ul>
        </div>


        <app-image [src]="nft.visual" maxwidth="200px" maxheight="200px"
                   [border]="!is_transparent(nft.properties)"
                   *ngIf="nft.visual?.length>0 && nft.open==''"
                   style="cursor: pointer;display: inline-block;cursor: pointer;"
                   (click)="show_fullscreen(nft)"></app-image>


        <div
          style="width:90%;margin:5%;line-height: 95%;font-size: small;text-align: center;">
          {{nft.description}}<br>

          <div style="font-size: x-small;color:lightgrey;margin-top: 3px;">{{nft.tags}}</div>
        </div>


        <div *ngIf="nft.open?.length>0">
          <a *ngIf="nft.open.startsWith('http')" [href]="nft.open" target="_blank">Ouvrir le fichier</a>
          <span style="font-size: large" *ngIf="!nft.open.startsWith('http')">{{nft.open}}</span>
          <br>
          <br>
        </div>

        <app-tuto [if]="nft.state==1"
                  label="Vous pouvez ouvrir les NFTs que vous posséder pour voir ce qu'ils contiennent. Vous pouvez également les remettre en vente ou les détruire."></app-tuto>


      </mat-card-content>
      <!--      <mat-card-actions class="app-card-action" style="position: absolute;bottom:16px;width:96%;text-align: right;">-->
      <mat-card-actions class="app-card-action" *ngIf="with_actions">

        <div *ngIf="nft.message?.length>0" style="width:100%;display: inline-block;text-align: center;">
          <app-hourglass [message]="nft.message" fontsize="small"></app-hourglass>
        </div>


        <div *ngIf="nft.message?.length==0">

          <!--        Zone réservé au propriétaire du token -->

          <button mat-raised-button mat-button mat-icon-button
                  color="primary"
                  title="Ouvrir le NFT pour découvrir le secret"
                  *ngIf="nft.open?.length==0 && user.addr==nft.owner && user.addr!=nft.miner && nft.has_secret==1"
                  class="icon-button"
                  (click)="give_response(nft)">
            <mat-icon>vpn_key</mat-icon>
          </button>


          <button mat-raised-button mat-button class="app-button"
                  *ngIf="nft.owner!=user.addr && nft.state==0 && !nft.isDealer"
                  [title]="'Acheter ce NFT pour '+nft.price+' '+nft.unity"
                  (click)="buy(nft)">
            <mat-icon>shopping_cart</mat-icon>&nbsp;
            <small *ngIf="nft.price==0">Gratuit</small>
            <span *ngIf="nft.price>0" ><app-unity [value]="nft.price" [decimals]="2"></app-unity></span>
          </button>



          <button mat-icon-button mat-flat-button
                  title="Modifier votre commission"
                  *ngIf="nft?.isDealer && nft.max_markup>nft.min_markup"
                  class="icon-button"
                  (click)="update_markup(nft)">
            <mat-icon>euro</mat-icon>
          </button>

          <button mat-icon-button mat-flat-button
                  title="En savoir plus sur le créateur de ce NFT"
                  *ngIf="nft.miner!=user.addr && !preview"
                  class="icon-button"
                  routerLink="/miner" [queryParams]="{miner:nft.miner}">
            <mat-icon>person</mat-icon>
          </button>




          <div *ngIf="nft.owner==user.addr" style="display: inline;">

            <button mat-icon-button
                    class="icon-button"
                    *ngIf="nft.open?.length>0"
                    (click)="nft.open=''">
              <mat-icon>visibility_off</mat-icon>
            </button>


            <button mat-icon-button mat-flat-button
                    title="Ajouter un distributeur"
                    *ngIf="!nft?.isDealer"
                    class="icon-button"
                    (click)="add_dealer(nft)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>


            <button mat-icon-button mat-flat-button
                    *ngIf="nft.state==0 && (can_sell(nft.properties) || nft.miner==user.addr)"
                    title="Retirer de la vente"
                    class="icon-button"
                    (click)="setstate(nft,1,'retirer de la vente')">
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>

            <button mat-icon-button mat-flat-button class="icon-button"
                    *ngIf="nft.state==1 && (can_sell(nft.properties) || nft.miner==user.addr)"
                    title="Mettre en vente"
                    (click)="setstate(nft,0,'mise en vente')">
              <mat-icon>shopping_cart</mat-icon>
            </button>

            <button mat-icon-button mat-flat-button class="icon-button"
                    title="Offrir ce token"
                    *ngIf="nft.state==1 && nft.owner==user.addr && (can_transfer(nft.properties) || nft.miner==user.addr)"
                    (click)="transfer(nft)">
              <mat-icon>redeem</mat-icon>
            </button>


            <button mat-icon-button mat-flat-button class="icon-button"
                    *ngIf="nft.owner==user.addr && (nft.has_secret==0 || nft.open.length>0)"
                    title="Détruire ce token"
                    (click)="burn(nft)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>


          <button mat-button mat-raised-button
                  *ngIf="nft.state==0 && nft.owner==user.addr"
                  title="Faire la promotion de ce token"
                  class="app-button"
                  (click)="share(nft)">
            Promotion
          </button>

        </div>



      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="art" class="gallery">
    <div *ngFor="let nft of nfts | filter: ['search',filter]" style="display: inline-block;">

      <div *ngIf="nft.visual?.length>0 && nft.premium" class="tableau">
        <div class="flip-card-inner">
          <div class="flip-card-front mat-elevation-z8">
            <app-image [src]="nft.visual" width="90%"
                       [border]="!is_transparent(nft.properties)"
                       style="margin:2%;cursor: pointer;display: inline-block;cursor: pointer;"></app-image>
          </div>
          <div class="flip-card-back">
            <div class="tag">
              <p style="font-size:x-large;margin-bottom: 10px;color:black;">{{nft?.title}}</p>
              <br>
              <p style="font-size: small;">{{nft.description}}</p><br>
              <p style="cursor: pointer;"
                 *ngIf="nft?.miner_name.length>0"
                 routerLink="/miner"
                 [queryParams]="{miner:nft.miner}">
                by {{nft.miner_name}}
              </p>
              <p *ngIf="nft?.price>0">{{nft.price | number:'1.0-3'}} {{nft.unity}}</p>



            </div>

            <div class="bottom-action-bar">
              <button mat-raised-button mat-button class="app-button"
                      *ngIf="nft.owner!=user.addr && nft.state==0 && !nft.isDealer"
                      [title]="'Acheter ce NFT pour '+nft.price+' '+nft.unity"
                      (click)="buy(nft)">
                <mat-icon>shopping_cart</mat-icon>&nbsp;
                <small *ngIf="nft.price==0">Gratuit</small>
                <app-unity *ngIf="nft.price>0" [value]="nft.price" [unity]="nft.unity"></app-unity>
              </button>
            </div>

          </div>
        </div>
      </div>



    </div>


  </div>

</div>
