<div class="mainform">
  <h2>Promouvoir {{title}}</h2>
  <qrcode
    [width]="150"
    ngxClipboard
    [cdkCopyToClipboard]="url"
    (click)="informe_clipboard()"
    style="display: inline-block;"
    [elementType]="'svg'"
    [errorCorrectionLevel]="'M'"
    [qrdata]="user.addr">
  </qrcode>
  <br>
  <small>Toucher le QRCode pour copier l'adresse de l'annonce</small>

  <br><br>
  <button mat-raised-button
          mat-button class="app-button"
          (click)="share()">
      <mat-icon>share</mat-icon>&nbsp;Partager
  </button>
  <br>
  <br>
  __________
  <br><br>


  <mat-form-field appearance="fill" class="app-field">
    <mat-label>Envoyer l'annonce par email</mat-label>
    <input matInput type="text" max="50" [(ngModel)]="email" (keypress)="onkeypress($event)">
     <mat-hint>Saisisser une ou plusieurs adresses mails (séparée par une ',')</mat-hint>
   </mat-form-field><br>
   <button mat-raised-button
          mat-button class="app-button"
          (click)="share_by_email()">
      Envoyer
  </button>

</div>
