<div class="mainform">
  <h2>Promouvoir {{title}}</h2>

  <br>
  <mat-form-field appearance="fill"
                  style="width:80%;max-width:600px;margin-right: 10px;" cdkFocusInitial>
    <mat-label>Message d'accompagnement</mat-label>
    <textarea matInput rows="3" type="text" matNativeControl [(ngModel)]="message"></textarea>
    <mat-icon matSuffix style="cursor: pointer" (click)="message=''">cancel</mat-icon>
  </mat-form-field>

  <br>
  <br>
  <qrcode
    [width]="150"
    ngxClipboard
    [cdkCopyToClipboard]="url"
    (click)="informe_clipboard()"
    style="display: inline-block;"
    [elementType]="'svg'"
    [errorCorrectionLevel]="'M'"
    [qrdata]="url">
  </qrcode>
  <br>
  <app-tuto label="Toucher le QRCode pour copier l'adresse de l'annonce"></app-tuto>



  <br>
  <p>Partagez directement sur les réseaux</p>
  <share-buttons [theme]="'circles-dark'"
                 [show]="11"
                 [url]="url"
                 [image] ="visual"
                 [title]="title">
  </share-buttons>

  <br><br>

  <div class="wrap-list">
    <button mat-raised-button
            (click)="share()"
            mat-button class="square-button">
      <mat-icon>share</mat-icon><br>
      Partager
    </button>

    <button mat-raised-button
            [cdkCopyToClipboard]="body"
            (click)="copy_message()"
            mat-button class="square-button">
      <mat-icon>content_copy</mat-icon><br>
      <div class="bloc-bouton">Envoyer<br>par email</div>
    </button>
  </div>
  <br>





</div>
