<div class="mainform">
  <button mat-raised-button
        mat-button class="app-button"
        (click)="raz()">
    Raz
  </button>
  <br><br>

  <app-elrond-addr [addr]="config.server?.bank_addr" type="address"
                   label="Transactions du compte de bank"></app-elrond-addr><br>

  <app-elrond-addr [addr]="config.server?.default_money" type="address"
                   label="Transactions du CMK"></app-elrond-addr>
  <br>
  <br><br>
  <h2>Réserves de la banque</h2>
  CMK: {{config.server?.bank_cmk}}<br>
  eGLD: {{config.server?.bank_gas/1e18}}


  <br><br>
  Proxy : {{config.server?.proxy}}

</div>
