<div class="mainform">

   <mat-form-field appearance="legacy" class="app-field"
                   style="max-width: 150px"
                   *ngIf="password!='hh4271'">
    <mat-label>Admin password</mat-label>
    <input matInput type="text" maxlength="6" [(ngModel)]="password">
   </mat-form-field>
  &nbsp;&nbsp;
  <div *ngIf="password=='hh4271'">
    <button mat-raised-button
          mat-button class="app-button"
          (click)="raz()">
      Raz
    </button>
  </div>
  <br><br>

  <app-elrond-addr [addr]="config.server?.bank_addr" type="address"
                   label="Transactions du compte de bank"></app-elrond-addr><br>
  <br><br>
  <app-elrond-addr [addr]="config.server?.default_money" type="address"
                   label="Transactions du TFC"></app-elrond-addr>
  <br>
  <br><br>

  <h2>Réserves de la banque</h2>
  Ref de la monnaie : {{config.server?.bank_esdt_ref}}<br>
  TFC: {{config.server?.bank_esdt}}<br>
  eGLD: {{config.server?.bank_gas/1e18}}
  <br>
  <br>
  <a href="https://testnet-wallet.elrond.com/unlock/pem" target="_blank">
    Wallet de la banque
  </a>

  <br><br>
  <h2>Contrat des NFTs</h2>
  <app-elrond-addr [addr]="config.server?.nft_contract"
                   label="Transactions du contrat"
                   type="address">
  </app-elrond-addr>


  <br><br>
  Proxy : {{config.server?.proxy}}

  </div>


