<div class="mainform">

  <app-hourglass [message]="message"></app-hourglass>

  <app-tuto label="Ici vous pouvez savoir quels sont les NFTs que vous avez fabriqués que possède une personne. Cela peut être utile pour des billets d'accès ou des coupons de réductions">
  </app-tuto>

  <div *ngIf="message.length==0">
    <mat-form-field class="app-field" appearance="fill" style="width:80%;" cdkFocusInitial>
      <mat-label>Adresse du propriétaire</mat-label>
      <input matInput matNativeControl
             placeholder="erd" [(ngModel)]="addr" (keyup)="onscan({data:$event.target.value})">
    </mat-form-field>

    <button mat-icon-button mat-raised-button class="icon-button"
            (click)="onscan({data:addr})">
      <mat-icon>checkmark</mat-icon>
    </button>

    <br><br>

    <div *ngIf="config.webcamsAvailable>0">
      <app-scanner (flash)="onscan($event)" [size]="300"></app-scanner>
    </div>
  </div>



  <br><br>
  <div class="mat-elevation-z4" style="margin: 10px;padding:5px;" *ngIf="validate_nfts.length>0 && addr.length>0">
    <h3>Cet utilisateur posséde</h3>
    <div *ngIf="photo?.length>0">
      <app-image [src]="photo" style="max-width: 200px;"></app-image>
      <br>
      <small>Vérifier l'identité du propriétaire</small>
      <br><br>
    </div>
    <div *ngIf="photo?.length==0">
      <span style="font-size: xx-large">⚠️</span><br>
      aucune preuve d'identification
      <br><br>
    </div>

    <table style="width: 100%;">
      <tr *ngFor="let nft of validate_nfts" style="text-align: left;margin-left: 10px;line-height: 70%;margin-bottom: 5px;">
        <td><mat-icon style="font-size: small;">checkmark</mat-icon>&nbsp;</td>
        <td>{{nft.title}} - {{nft.description}}</td>
        <td style="width: 20px">
          <button mat-icon-button mat-raised-button class="icon-button"
                  (click)="burn(nft)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>

    <br>
  </div>


</div>
