<div class="mainform">

  <app-hourglass [message]="message"></app-hourglass>

  <app-tuto label="Ici vous pouvez savoir si une personne posséde des tokens que vous avez fabriqués. Cela peut être utile pour des tokens donnant accès à un lieu (billeterie) ou une réduction (coupon)">
  </app-tuto>

  <div *ngIf="message.length==0">
    <mat-form-field class="app-field" appearance="fill" style="width:80%;" cdkFocusInitial>
      <mat-label>Adresse du propriétaire</mat-label>
      <input matInput matNativeControl
             placeholder="erd" [(ngModel)]="addr" (keyup)="onscan({data:$event.target.value})">
    </mat-form-field>

    <button mat-icon-button mat-raised-button class="icon-button"
            (click)="onscan({data:addr})">
      <mat-icon>checkmark</mat-icon>
    </button>

    <br><br>

    <div *ngIf="config.webcamsAvailable>0">
      <app-scanner (flash)="onscan($event)" [size]="300"></app-scanner>
    </div>
  </div>



  <br><br>
  <div class="mat-elevation-z4" style="margin: 10px;padding:5px;" *ngIf="validate_nfts.length>0 && addr.length>0">
    <h3>Cet utilisateur posséde</h3>
    <div *ngIf="photo?.length>0">
      <app-image [src]="photo" style="max-width: 200px;"></app-image>
      <br>
      <small>Vérifier l'identité du propriétaire</small>
      <br><br>
    </div>

    <div *ngFor="let nft of validate_nfts" style="text-align: left;margin-left: 10px;">
      <mat-icon style="font-size: small;">checkmark</mat-icon>&nbsp;
      {{nft.title}} - {{nft.description}}
      <br>
    </div>
    <br>
  </div>


</div>
