<div class="mainform">

  <mat-form-field appearance="legacy" style="max-width:600px;width:80%;" autofocus>
    <mat-label>Adresse du propriétaire</mat-label>
    <input matInput matNativeControl
           placeholder="erd" [(ngModel)]="addr">
  </mat-form-field>

   <button mat-icon-button mat-raised-button class="icon-button"
           (click)="onscan({data:addr})">
     <mat-icon>checkmark</mat-icon>
   </button>

  <br><br>

  <div *ngIf="config.webcamsAvailable>0">
    <app-scanner (flash)="onscan($event)" [size]="150"></app-scanner>
  </div>


  <br><br>
  <div class="mat-elevation-z4" style="margin: 10px;padding:5px;" *ngIf="validate_nfts.length>0">
    <h3>Cette utilisateur posséde</h3>
    <div *ngFor="let nft of validate_nfts" style="text-align: left;">
      - {{nft.uri}}<br>
    </div>
    <br>
  </div>


  <span *ngIf="validate_nfts.length==0 && addr.length>20">Aucun ticket pour cette adresse</span>
</div>
