<app-tuto   title="<br><br><br><br><br><strong>TokenForge</strong>"
            color="white"
            image=""
            [subtitle]="'Fabriquez vos propres monnaies et tokens sur la blockchain Elrond<br><br><small>alpha version '+appVersion+'</small>'"
            background="./assets/img/tokenforge.jpg"></app-tuto>


<mat-toolbar class="mat-elevation-z4 toolbar-app"
             style="z-index: 9999999"
             (mousedown)="closeMenu()" *ngIf="message?.length==0">
    <mat-icon
      title="Accédez au menu principal"
      id="cmdMenu"
      (click)="drawer.toggle()"
      style="cursor: pointer;">
      menu
    </mat-icon>

    &nbsp;
    <!--    <img src="./assets/icons/icon-72x72.png"-->
    <!--         *ngIf="config.width_screen>800"-->
    <!--         style="width:30px;display: inline;">-->
    &nbsp;

    <span>
    {{config.values?.appname}}&nbsp;
    </span>
    <span style="font-size: xx-small">({{appVersion}})</span>

    &nbsp;
    <span class="fill-remaining-space"></span>


    <mat-icon style="font-size: x-large;cursor: pointer;"
              title="Revenir à l'écran précédent"
              (click)="_location.back()">navigate_before</mat-icon>

    <!--    <mat-icon -->
    <!--              title="Se déconnecter de l'application"-->
    <!--              (click)="logout()" style="cursor: pointer;">exit_to_app-->
    <!--    </mat-icon>-->
  </mat-toolbar>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" [mode]="sidemenu_mode">
      <app-sidemenu (click)="closeMenu()" (logout)="logout()">
      </app-sidemenu>
    </mat-drawer>

    <mat-drawer-content style="overflow: scroll">
      <div class="sidenav-content" style="z-index:100 !important;height: 100vh;text-align: center;"
           (mousedown)="closeMenu()">

        <div style="width:60%;margin-left: 20%;">
          <app-hourglass marginTop="40px" fontsize="large" [diameter]="40" [message]="message"></app-hourglass>
        </div>


        <img src="./assets/img/elrond.png"
             style="width:60vw;max-width:300px;display: inline;margin-top: 50px;filter: saturate(2) invert() blur(1px) grayscale(100%);"
             *ngIf="message.length>0">

        <router-outlet style="width:100%;" *ngIf="message.length==0" ></router-outlet>
      </div>
    </mat-drawer-content>

</mat-drawer-container>


