
<app-tuto   title="<br><br><br><br><br><strong>TOKEN FORGE</strong>"
            color="white"
            image=""
            [subtitle]="'Fabriquez vos propres monnaies et tokens sur la blockchain Elrond<br><br><small>alpha version '+appVersion+'</small>'"
            background="./assets/img/tokenforge.jpg"></app-tuto>


<mat-toolbar class="toolbar-app"
             (mousedown)="closeMenu()" *ngIf="message?.length==0">
    <mat-icon
      title="Accédez au menu principal"
      id="cmdMenu"
      (click)="drawer.toggle()"
      style="cursor: pointer;">
      menu
    </mat-icon>

    <span>
    {{config.values?.appname}}&nbsp;
    </span>
    <span style="font-size: xx-small">({{appVersion}} sur {{config.server.network}})</span>

    &nbsp;
    <span class="fill-remaining-space"></span>


    <mat-icon style="font-size: x-large;cursor: pointer;"
              title="Revenir à l'écran précédent"
              (click)="_location.back()">navigate_before</mat-icon>

    <!--    <mat-icon -->
    <!--              title="Se déconnecter de l'application"-->
    <!--              (click)="logout()" style="cursor: pointer;">exit_to_app-->
    <!--    </mat-icon>-->
</mat-toolbar>

<mat-drawer-container class="container" autosize>

    <mat-drawer #drawer class="sidenav" style="background-color: #323232;" [mode]="sidemenu_mode" *ngIf="message.length==0">
      <app-sidemenu (logout)="logout()" (click)="closeMenu()">
      </app-sidemenu>
    </mat-drawer>

    <mat-drawer-content style="overflow: scroll">
      <div class="sidenav-container"
           style="z-index:100 !important;text-align: center;height: 100vh;border: none;margin: 0;padding: 0;"
           (mousedown)="closeMenu()">

        <div style="width:60%;margin-left: 20%;">
          <app-hourglass marginTop="40px" fontsize="large"
                         [diameter]="40" [message]="message"></app-hourglass>
        </div>

<!--        filter: saturate(2) invert() blur(1px) grayscale(100%)-->

        <img src="./assets/img/coin.png"
             style="width:60vw;max-width:300px;display: inline;margin-top: 50px;"
             *ngIf="message.length>0">

        <router-outlet style="width:100%;background-color: #323232;"
                       *ngIf="message.length==0">
        </router-outlet>
      </div>
    </mat-drawer-content>

</mat-drawer-container>


