fade-in
  animation: fadeIn ease 5s
  -webkit-animation: fadeIn ease 5s
  -moz-animation: fadeIn ease 5s
  -o-animation: fadeIn ease 5s
  -ms-animation: fadeIn ease 5s


@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1


@-moz-keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1


@-webkit-keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1


@-o-keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

@-ms-keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

.sidenav-container
  margin: 0
  padding: 0
  background-color: #323232
  overflow: hidden

html, body, app-root
  overflow: hidden
  margin: 0 !important
  color: white
  background-color: #2f2e2e !important
  font-family: Roboto, "Helvetica Neue", sans-serif

.toolbar-app
  height: 40px

.sidenav-content
  width: 100%
  justify-content: center
  text-align: center

.container
  width: 100vw
  height: 100vh
  background: transparent
  position: fixed


.sidenav
  padding: 15px
