
<mat-nav-list>

  <a title="Wallet"
     routerLink="main"
     mat-list-item
     id="cmdSearch">
    <mat-icon>local_grocery_store</mat-icon>&nbsp;
    Wallet
  </a>

  <a title="Wallet"
     routerLink="transfer"
     mat-list-item
     id="cmdTransfer">
    <mat-icon>send</mat-icon>&nbsp;
    Transfert
  </a>

  <a title="Fabriquer votre monaie"
     routerLink="moneys"
     mat-list-item
     id="cmdSwap">
    <mat-icon>swap_horizontal</mat-icon>&nbsp;
    Changer de monnaie
  </a>

  <a title="Accéder à vos contacts"
     [routerLink]="['contacts']"
     mat-list-item
     id="cmdAddPerson">
    <mat-icon>person_add</mat-icon>&nbsp;
    Nouveaux contacts
  </a>

  <a title="Fabriquer votre monaie"
     routerLink="create"
     mat-list-item
     id="cmdCreateMoney">
    <mat-icon>build</mat-icon>&nbsp;
    Créer votre monnaie
  </a>

  <a title="Fabriquer votre monaie"
     routerLink="settings"
     mat-list-item
     id="cmdSetting">
    <mat-icon>settings</mat-icon>&nbsp;
    Préférences
  </a>

  <br>
  <br>

  <a title="Aide" routerLink="faqs"
     mat-list-item
     id="cmdHelp">
    <mat-icon>help</mat-icon>
    &nbsp;&nbsp;Aide
  </a>

  <a title="A propos" routerLink="about"
     mat-list-item
     id="cmdAbout">
    <mat-icon>article</mat-icon>
    &nbsp;&nbsp;A propos
  </a>

  <br><br>
  <a title="Accès au menu admin"
     routerLink="admin"
     mat-list-item
     id="cmdAdmin">
    <mat-icon>constructions</mat-icon>&nbsp;
    Administration
  </a>



</mat-nav-list>
