<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>

<!--  <mat-form-field appearance="fill" class="app-field" style="max-width: 150px">-->
<!--    <mat-label>Nom du revendeur</mat-label>-->
<!--    <input matInput type="text" max="30"-->
<!--           [(ngModel)]="dealer.name"-->
<!--           [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=2">-->
<!--  </mat-form-field>-->


<!--  <mat-form-field appearance="fill" class="app-field" style="max-width: 150px">-->
<!--    <mat-label>Marge</mat-label>-->
<!--    <input matInput type="number" max="50" min="0"-->
<!--           (focusin)="focus_idx=2"-->
<!--           [(ngModel)]="dealer.percent">-->
<!--    <span matSuffix>%</span>-->
<!--  </mat-form-field>-->


  <br>

  <mat-form-field appearance="fill" class="app-field" style="width: 100%">
    <mat-label>Adresse Elrond</mat-label>
    <input matInput type="text" [(ngModel)]="dealer.addr"
           [ngModelOptions]="{standalone: true}" (focusin)="focus_idx=1">
  </mat-form-field>


  <div style="width: 100%;text-align: center" *ngIf="showScanner">
    <app-scanner [size]="300"
                 autofocus
                 (click)="showScanner=false"
                 (flash)="onflash_event($event)">
    </app-scanner>
    <br><br>
  </div>

</mat-dialog-content>
<mat-dialog-actions style="text-align: right;width:100%;">
  <button id="cmdNo" class="app-button" mat-button mat-raised-button [mat-dialog-close]="{}">Annuler</button>
  <button id="cmdYes" class="app-button" mat-button mat-raised-button [mat-dialog-close]="dealer">Ajouter</button>
</mat-dialog-actions>

