<div class="mainform">
  <app-hourglass [message]="message"></app-hourglass>
  <div style="width: 80%;text-align: center;margin-left: 10%;">
    <app-tuto [if]="user.gas/1e18<1"
              label="Pour réaliser des transferts de monnaies, des achats ou transfert de tokens, vous devez posséder quelques eGold pour les frais de fonctionnement"></app-tuto>
  </div>
  <br>

  <div style="line-height: 180%">
    Vous disposez de<br>
    <app-unity fontsize="large" [value]="user.gas/1e18"></app-unity>
    <br>
    pour vos transactions
  </div>


  <div>
    <br>
    <h3>Rechargement</h3>
    <button
      mat-button class="icon-button" mat-icon-button style="font-size: large"
      *ngFor="let amount of [2,5,10,25]"
      (click)="initializePayment(amount)">
      ${{amount}}
    </button>
  </div>


  <br><br>
  <button mat-raised-button mat-button
          *ngIf="message?.length==0" color="primary"
          class="app-button" [cdkCopyToClipboard]="user.addr" ngxClipboard
          (click)="reload_account()">
    <div class="bloc-bouton">Recharger<br>mon compte</div>
  </button>

  <br><br>
  <br>
  <qrcode
    [width]="150"
    ngxClipboard
    [cdkCopyToClipboard]="user.addr"
    (click)="informe_clipboard()"
    style="display: inline-block;"
    [elementType]="'svg'"
    [errorCorrectionLevel]="'M'"
    [qrdata]="user.addr">
  </qrcode>
  <br>
  <small>Flasher pour transférer des eGld</small>
  <br>



  <br>
  ______
  <br> <br> <br>

  <button mat-raised-button mat-button
          *ngIf="message?.length==0"
          class="app-button"
          (click)="router.navigate(['transactions'])">
    <div class="bloc-bouton">Journal des<br>transactions</div>
  </button>

  <br><br>

  <a [href]="config.server.faucet" ngxClipboard
     target="_blank"
     title="Votre adresse est dans votre presse-papier, vous n'avez plus qu'a la coller dans la zone prévue à cet effet et demander le rechargement"
     [cdkCopyToClipboard]="user.addr">Rechargement alternatif</a>
  <br>
  <small>Merci à @Kevin pour son site</small>

</div>
