<div style="overflow: hidden;">
<h2>Envoyer directement</h2>

    <mat-form-field appearance="fill" class="app-field">
      <mat-label>Ajouter un mail</mat-label>
      <input matInput type="text" max="50" [(ngModel)]="email"
             (ngModelChange)="refresh_pseudo($event)"
             (keypress)="add_contact($event)">
    </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="app-field">
      <mat-label>Pseudo</mat-label>
      <input matInput type="text" max="50" [(ngModel)]="pseudo" (keypress)="add_contact($event)">
    <mat-hint>Ajouter un pseudo, prénom, pour reconnaitre le profil dans vos contacts</mat-hint>
   </mat-form-field>
  <br><br>


  <div style="width: 100%;text-align: center">
    <app-scanner [size]="220"
                 autofocus
                 (click)="showScanner=false"
                 *ngIf="showScanner"
                 (flash)="onflash_event($event)">
    </app-scanner>
  </div>

  <br><br>

<div style="text-align: right;">
  <hr>
  <button mat-raised-button
        mat-button class="app-button"
        (click)="_close(true)">
    Ajouter
  </button>
  <button mat-raised-button
        mat-button class="app-button"
        (click)="_close(false)">
    Annuler
  </button>
</div>
</div>
