<div style="overflow: hidden;">
    <h2>Destinataire</h2>

    <mat-form-field appearance="legacy" class="app-field" color="accent">
      <mat-label>Mail ou adresse Elrond du destinataire</mat-label>
      <input matInput type="text" max="50" [(ngModel)]="email"
             (ngModelChange)="refresh_pseudo($event)"
             (keypress)="add_contact($event)">
    </mat-form-field>
  <br>
  <mat-form-field appearance="legacy" class="app-field">
      <mat-label>Pseudo</mat-label>
      <input matInput type="text" max="50" [(ngModel)]="pseudo" (keypress)="add_contact($event)">
    <mat-hint>Ajouter un pseudo, prénom, pour reconnaitre le profil dans vos contacts</mat-hint>
   </mat-form-field>
  <br><br>


  <div style="width: 100%;text-align: center" *ngIf="showScanner">
    <small>Pointez le QRCode d'un wallet Elrond pour déclencher l'envoie</small><br>
    <app-scanner [size]="220"
                 autofocus
                 (click)="showScanner=false"
                 (flash)="onflash_event($event)">
    </app-scanner>
    <br><br>
  </div>


<div style="text-align: right;">
  <hr>
  <button mat-raised-button
        mat-button class="app-button"
        (click)="_close(true)">
    Envoyer
  </button>
  <button mat-raised-button
        mat-button class="app-button"
        (click)="_close(false)">
    Annuler
  </button>
</div>
</div>
