<div class="mainform">
  <h2>Sélectionnez une monnaie</h2>

  <app-tuto
            style="text-align: left;display: inline-block;max-width: 600px;"
            label="Plusieurs monnaies sont disponibles. Sélectionnez celle que vous souhaitez utiliser. Vous pourrez changer à n'importe quel moment"></app-tuto>
  <br>
  <app-hourglass [message]="message"></app-hourglass>

  <table *ngIf="message?.length==0" style="display: inline-block;">
    <tr>
      <th></th>
      <th></th>
      <th>Solde</th>
    </tr>
    <tr *ngFor="let m of moneys" style="pointer:cursor;width: 95vw;" (click)="select(m)">
      <td style="text-align: left;font-size: large;width: fit-content;">
        <strong [cdkCopyToClipboard]="m.idx" ngxClipboard style="cursor: pointer;">{{m.unity}}</strong>
        <br>
      </td>
      <td style="max-width:300px;text-align: left;font-size: large;width: 50%;">
        {{m.name}}<br>
      </td>
      <td style="max-width:100px;text-align: right;font-size: large;">
        <strong>{{m.balance}}</strong>
      </td>

      <td style="text-align: left;">
        <button mat-raised-button mat-icon-button
                mat-button class="icon-button" style="background-color: transparent;"
                *ngIf="config.server?.proxy?.indexOf('explorer')>-1"
                (click)="openContrat(m.contract)">
          <mat-icon>import_contacts</mat-icon>
        </button>

        <button mat-raised-button mat-icon-button
                mat-button class="icon-button" style="background-color: transparent;"
                *ngIf="m.owner==user.addr"
                (click)="delete_money(m.idx)">
          <mat-icon>cancel</mat-icon>
        </button>

         <button mat-icon-button mat-raised-button style="background-color: transparent;"
                mat-button class="icon-button"
                *ngIf="m.url?.length>0"
                (click)="openDoc(m.url)">
          <mat-icon>help</mat-icon>
        </button>


      </td>

    </tr>
  </table>
  <div >
    &nbsp;
  </div>
  <br><br>

  <button mat-raised-button mat-button
          class="app-button" color="primary"
          *ngIf="message?.length==0"
          (click)="router.navigate(['create'])">
    <div class="bloc-bouton">Fabriquer<br>votre monnaie</div>
  </button>


</div>




