<div class="mainform">
  <h2>Sélectionnez une monnaie</h2>

  <app-tuto
            style="text-align: left;"
            label="Plusieurs monnaies sont disponibles. Sélectionnez celle que vous souhaitez utiliser. Vous pourrez changer à n'importe quel moment"></app-tuto>

  <app-hourglass [message]="message"></app-hourglass>

  <table *ngIf="message?.length==0" style="width: 100%;">
    <tr *ngFor="let m of moneys">
      <td style="max-width:200px;text-align: center;font-size: large;">
        <strong>{{m.unity}}</strong>
      </td>
      <td style="text-align: left;width: 60%;">
        <button mat-button mat-raised-button
                class="app-button" style="background-color: transparent;"
                (click)="select(m)">
          Sélectionner
        </button>

        &nbsp;
        <button mat-raised-button mat-icon-button
                mat-button class="icon-button" style="background-color: transparent;"
                *ngIf="config.server?.proxy?.indexOf('explorer')>-1"
                (click)="openContrat(m.contract)">
          <mat-icon>import_contacts</mat-icon>
        </button>



         <button mat-icon-button mat-raised-button style="background-color: transparent;"
                mat-button class="icon-button"
                *ngIf="m.url?.length>0"
                (click)="openDoc(m.url)">
          <mat-icon>help</mat-icon>
        </button>


      </td>

    </tr>
  </table>
  <div >
    &nbsp;
  </div>
  <br><br>

  <button mat-raised-button mat-button
          class="app-button" color="primary"
          *ngIf="message?.length==0"
          (click)="router.navigate(['create'])">
    <div class="bloc-bouton">Fabriquer<br>votre monnaie</div>
  </button>


</div>




